{% extends 'transactions/base.html' %}
{% load static %}

{% block pageTitle %}
{% endblock %}
{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Accounts</h2>
      </p>
    </a>
  </div>
</p>
<center>
  <table style="width:100%" class="table table-bordered table-striped table-hover">
    {% for account in accounts_p %}
      <tr class="table-secondary table-active">
          <td><a href="{% url 'transactions:show_account' account.id %}">{{ account.AccountNumber }}&nbsp&nbsp:&nbsp&nbsp{{ account.Type }}&nbsp&nbsp:&nbsp&nbsp{{ account.Description }}</a></td>
          <td><a href="{% url 'transactions:cashinacctm_delete' account.id %}">Delete</a></td>
          <td><a href="#" data-id="{{ account.id }}"
            data-Status="{{ account.Status }}"
            data-AccountNumber="{{ account.AccountNumber }}" data-Description="{{ account.Description }}"
            data-Statement="{{ account.Statement }}" data-Section="{{ account.Section }}">Update</a></td>
      </tr>
    {% endfor %}
  </table> 
</center>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  
  {% if accounts_p.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ accounts_p.previous_page_number }}">Previous</a></li>
  {% endif %}
  
  {% for i in nums %}
      <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
  {% endfor %}
  
  {% if excer_p.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ accounts_p.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ accounts_p.paginator.num_pages }}">Last &raquo</a></li>
  {% endif %}
  </ul>
  </nav>

  <!-- Add Account Button -->
<div class="text-center my-4">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAccountModal">Add Account</button>
</div>

<div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountModalLabel">Add Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form
        action="{% url 'transactions:accounts' %}" method="post">
        <div class="modal-body">
          {% csrf_token %}
          <div class="row">
              {% for field in accountForm %}
              <div class="col-12 col-md-6 mb-3">
                <div class="form-floating"> <!-- Use floating labels for a neater look -->
                  {{ field }} <!-- Render the field itself -->
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
              {% if forloop.counter|divisibleby:2 %}
                </div><div class="row">
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="form_type" value="StatementForm">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
