<!doctype html>
<html lang="en">
{% load static %}
{% include 'transactions/modals.html' %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body style="background-color:#DDEBF7;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0f496f;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TRAXX</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Setup Books
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Income
                                    Statement</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Balance Sheet
                                    Statement</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Cash Flow
                                    Statement</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Expense
                                    Analysis Statement</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Budget
                                    Statement</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Statement Lines</a></li> -->
                            <li>{% if first_section %}
                                <a class="dropdown-item"
                                    href="{% url 'transactions:statement_section_with_id' first_section.id %}">Statement Lines</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'transactions:statement_section' %}">Statement Lines</a>
                                {% endif %}
                            </li>
                            <li><a class="dropdown-item" href="{% url 'transactions:accounts' %}">Accounts</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Bookkeeping
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Upload &
                                    Capture Transactions</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Enter Manual
                                    Transactions</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Post Current
                                    Net Income to Retained Earnings</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Reporting
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Income
                                    Statement</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Balance
                                    Sheet</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Cash Flow
                                    Statement</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Expense
                                    Analysis</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Budget
                                    Performance</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Drill Down on
                                    Statement Line</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Drill Down on
                                    Account</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Download
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Download Text
                                    File</a></a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Download CSV
                                    File</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}">Download PDF
                                    File</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Support
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#Supp1" data-bs-toggle="modal">Support</a></li>
                            <li><a class="dropdown-item" href="#Sugg1" data-bs-toggle="modal">Suggestions</a></li>
                            <li><a class="dropdown-item" href="#Serv1" data-bs-toggle="modal">Service Requests</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Finances Tutorials
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#tutOverview" data-bs-toggle="modal">Overview</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}"
                                    data-bs-toggle="modal">How To Setup Your Accounts</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}"
                                    data-bs-toggle="modal">How To Setup And Run Your
                                    Income Statment</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}"
                                    data-bs-toggle="modal">How To Setup And Run Your
                                    Balance Sheet</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}"
                                    data-bs-toggle="modal">How To Setup And Run Your Cash
                                    Flow Statment</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}"
                                    data-bs-toggle="modal">How To Setup And Run Your
                                    Budgets</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}"
                                    data-bs-toggle="modal">How To Setup And Run Your
                                    Expense Analysis</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactions:show_construction' %}"
                                    data-bs-toggle="modal">How To Upload and Capture
                                    Transactions</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#About1" data-bs-toggle="modal">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'LoginRegister:FTMainMenu' %}">Main Menu</a>
                    </li>
    </nav>
    {% block pageTitle %}
    {% endblock %}

    <main class="container-fluid mt-4">
        <div class="row" style="margin: 0 5px;">
            <!-- Left Margin Advertising -->
            <div class="col-md-2 order-md-1 order-2" style="text-align: left;">

                <!-- FinSpot1 -->
                <div style="width: 100%; height: 150px; background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#FinSpot1" data-bs-toggle="modal">
                        <img src="{% static 'Fin1.jpg' %}" style="height: 95%;" alt="FinSpot1" class="img-fluid">
                    </a>
                </div>

                <!-- FinSpot2 -->
                <div style="width: 100%; height: 150px; background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#FinSpot2" data-bs-toggle="modal">
                        <img src="{% static 'Fin2.jpg' %}" style="height: 95%;" alt="#FinSpot2" class="img-fluid">
                    </a>
                </div>

                <!-- FinSpot3 -->
                <div style="width: 100%; height: 150px; background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#FinSpot3" data-bs-toggle="modal">
                        <img src="{% static 'Fin3v2.jpg' %}" style="height: 95%;" alt="FinSpot3" class="img-fluid">
                    </a>
                </div>

                <!-- FinSpot4 -->
                <div style="width: 100%; height: 150px; background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#FinSpot4" data-bs-toggle="modal">
                        <img src="{% static 'Fin4.jpg' %}" style="height: 95%;" alt="FinSpot4" class="img-fluid">
                    </a>
                </div>


            </div>
            <!-- Center Open Area -->
            <!-- <div class="col-md-8" style="text-align: center;"> -->
            <div class="col-md-8 order-md-2 order-1" style="text-align: center;">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Right Margin Advertising -->
            <div class="col-md-2 order-md-3 order-3" style="text-align: right;">

                <!-- FinSpot5 -->
                <div style="width: 100%; height: 150px; background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#FinSpot5" data-bs-toggle="modal">
                        <img src="{% static 'Fin5.jpg' %}" style="height: 95%;" alt="FinSpot5" class="img-fluid">
                    </a>
                </div>

                <!-- FinSpot6 -->
                <div style="width: 100%; height: 150px; background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#FinSpot6" data-bs-toggle="modal">
                        <img src="{% static 'Fin6.jpg' %}" style="height: 95%;" alt="FinSpot6" class="img-fluid">
                    </a>
                </div>

                <!-- FinSpot7 -->
                <div style="width: 100%; height: 150px; background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#FinSpot7" data-bs-toggle="modal">
                        <img src="{% static 'Fin7.jpg' %}" style="height: 95%;" alt="FinSpot7" class="img-fluid">
                    </a>
                </div>

                <!-- FinSpot8 -->
                <div style="width: 100%; height: 150px; background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#FinSpot8" data-bs-toggle="modal">
                        <img src="{% static 'Fin8.jpg' %}" style="height: 95%;" alt="FinSpot8" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>

        <!-- FinSpot1 -->
        <div class="modal fade" id="FinSpot1" tabindex="-1" aria-labelledby="FinSpot1" aria-hidden="true">
            <div class="modal-dialog ads modal-xl">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h5 class="modal-title" id="FinSpot1">Personal & Family Financial Services</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div class="modal-body">
                        Message/Description<br><br>
                        Contact Information:<br>
                        URL:<br>
                        Promotion Code:<br>
                        Imbedded Audio/Video:<br>
                    </div>
                </div>
            </div>
        </div>

        <!-- FinSpot2 -->
        <div class="modal fade" id="FinSpot2" tabindex="-1" aria-labelledby="FinSpot2" aria-hidden="true">
            <div class="modal-dialog ads modal-xl">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h5 class="modal-title" id="FinSpot2">A Guide to Remaking Home Economics</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div class="modal-body">
                        Message/Description<br><br>
                        Contact Information:<br>
                        URL:<br>
                        Promotion Code:<br>
                        Imbedded Audio/Video:<br>
                    </div>
                </div>
            </div>
        </div>

        <!-- FinSpot3 -->
        <div class="modal fade" id="FinSpot3" tabindex="-1" aria-labelledby="FinSpot3" aria-hidden="true">
            <div class="modal-dialog ads modal-xl">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h5 class="modal-title" id="FinSpot3">Effective Personal and Family Budgeting</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div class="modal-body">
                        Message/Description<br><br>
                        Contact Information:<br>
                        URL:<br>
                        Promotion Code:<br>
                        Imbedded Audio/Video:<br>
                    </div>
                </div>
            </div>
        </div>

        <!-- FinSpot4 -->
        <div class="modal fade" id="FinSpot4" tabindex="-1" aria-labelledby="FinSpot4" aria-hidden="true">
            <div class="modal-dialog ads modal-xl">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h5 class="modal-title" id="FinSpot4">How Wall Street & Professional Finance Work</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div class="modal-body">
                        Message/Description<br><br>
                        Contact Information:<br>
                        URL:<br>
                        Promotion Code:<br>
                        Imbedded Audio/Video:<br>
                    </div>
                </div>
            </div>
        </div>

        <!-- FinSpot5 -->
        <div class="modal fade" id="FinSpot5" tabindex="-1" aria-labelledby="FinSpot5" aria-hidden="true">
            <div class="modal-dialog ads modal-xl">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h5 class="modal-title" id="FinSpot5">Institutional Financial Services</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div class="modal-body">
                        Message/Description<br><br>
                        Contact Information:<br>
                        URL:<br>
                        Promotion Code:<br>
                        Imbedded Audio/Video:<br>
                    </div>
                </div>
            </div>
        </div>

        <!-- FinSpot6 -->
        <div class="modal fade" id="FinSpot6" tabindex="-1" aria-labelledby="FinSpot6" aria-hidden="true">
            <div class="modal-dialog ads modal-xl">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h5 class="modal-title" id="FinSpot6">A Comprehensive Guide to Mutual Fund Investing</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div class="modal-body">
                        Message/Description<br><br>
                        Contact Information:<br>
                        URL:<br>
                        Promotion Code:<br>
                        Imbedded Audio/Video:<br>
                    </div>
                </div>
            </div>
        </div>

        <!-- FinSpot7 -->
        <div class="modal fade" id="FinSpot7" tabindex="-1" aria-labelledby="FinSpot7" aria-hidden="true">
            <div class="modal-dialog ads modal-xl">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h5 class="modal-title" id="FinSpot7">Professional Accounting Software & Guide</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div class="modal-body">
                        Message/Description<br><br>
                        Contact Information:<br>
                        URL:<br>
                        Promotion Code:<br>
                        Imbedded Audio/Video:<br>
                    </div>
                </div>
            </div>
        </div>

        <!-- FinSpot8 -->
        <div class="modal fade" id="FinSpot8" tabindex="-1" aria-labelledby="FinSpot8" aria-hidden="true">
            <div class="modal-dialog ads modal-xl">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <h5 class="modal-title" id="FinSpot8">Personal Computing at it's Best</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div class="modal-body">
                        Message/Description<br><br>
                        Contact Information:<br>
                        URL:<br>
                        Promotion Code:<br>
                        Imbedded Audio/Video:<br>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    {% block modal-script %}{% endblock %}

</body>

</html>