{% extends 'transactions/base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}Accounts{% endblock %}

{% block pageimage %}
<img style="float: left;" src="{% static 'Cashin.jpg' %}" alt="Cash In Tile Missing" width="100" height="100">
{% endblock %}

{% block backurl %}{%url 'LoginRegister:FTDefAcctsMenu'%}{% endblock %}
{% block pageTitle %}
{% endblock %}

{% block content %}
<center>
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Accounts</h2>
      </p>
    </a>
  </div>
  </center>
  <div>
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>Type</th>
          <th>Account</th>
          <th>Description</th>
          <th>Statment</th>
          <th>Section</th>
          <th>Rollup</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for cashinacctm in cashinacctms %}
        <tr>
          <td>{{ cashinacctm.Status }}</td>
          <td>{{ cashinacctm.Type }}</td>
          <td>{{ cashinacctm.AccountNumber }}</td>
          <td>{{ cashinacctm.Description }}</td>
          <td>{{ cashinacctm.Statement }}</td>
          <td>{{ cashinacctm.Section }}</td>
          <td>{{ cashinacctm.RollupType }}</td>
          <!-- KMS Added New Fields -->
          <td>
            <a href="{% url 'transactions:cashinacctm_delete' cashinacctm.id %}" class="delete-button">{% bs_icon 'trash' %}</a>
            <a href="#editModal" data-bs-toggle="modal" data-account-number="{{ cashinacctm.AccountNumber }}" 
            data-status="{{ cashinacctm.Status }}" data-type="{{ cashinacctm.Type }}" data-type="{{ cashinacctm.Statement }}" data-type="{{ cashinacctm.RollupType }}" data-type="{{ cashinacctm.Section }}" data-description="{{ cashinacctm.Description }}" data-cashinacctm-id="{{ cashinacctm.id }}"
              class="edit-header-button">{% bs_icon 'pencil' %}</a>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="8" class="text-center">
            <a class="add-button btn btn-info" href="#addModal" data-bs-toggle="modal">Add</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Add modal -->
  <div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tutorial1Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tutorial1Label">Add</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'transactions:income_accts' %}" method="post" id="addForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.AccountNumber.id_for_label }}">Account Number</label>
              {{ form.AccountNumber }}
            </div>
            <div class="form-group">
              <label for="{{ form.Description.id_for_label }}">Description</label>
              {{ form.Description }}
            </div>
            {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
              {% for field in form %}
              {{ field.errors }}
              {% endfor %}
  
              {{ form.non_field_errors }}
            </div>
            {% endif %}
        </div>
        <div class="modal-footer">
          <button type="submit"
              class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!-- Edit modal -->
  <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tutorial1Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tutorial1Label">Edit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="editForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.Status.id_for_label }}">Status</label>
              {{ form.Status }}
            </div>
<!-- KMS -->
            <div class="form-group">
              <label for="{{ form.Type.id_for_label }}">Type</label>
              {{ form.Type }}
            </div>
<!-- KMS -->
            <div class="form-group">
              <label for="{{ form.AccountNumber.id_for_label }}">Account</label>
              {{ form.AccountNumber }}
            </div>
            <div class="form-group">
              <label for="{{ form.Description.id_for_label }}">Description</label>
              {{ form.Description }}
            </div>
<!-- KMS -->
            <div class="form-group">
              <label for="{{ form.Statement.id_for_label }}">Statement</label>
              {{ form.Statement }}
            </div>
            <div class="form-group">
              <label for="{{ form.Section.id_for_label }}">Section</label>
              {{ form.Section }}
            </div>
            <div class="form-group">
              <label for="{{ form.RollupType.id_for_label }}">Rollup</label>
              {{ form.Section }}
            </div>
<!-- KMS -->


            {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
              {% for field in form %}
                  {{ field.errors }}
              {% endfor %}
  
              {{ form.non_field_errors }}
            </div>
            {% endif %}
        </div>
        <div class="modal-footer">
          <button type="submit"
              class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>


{% endblock %}
{% block modal-script %}
<script>
  $(document).ready(function() {
    $('#editModal').on('show.bs.modal', function (event) {
    console.log('Modal is about to be shown.');
      var button = $(event.relatedTarget);
      var status = button.data('status');
      // KMS
      var type = button.data('type');
      var statement = button.data('statement');
      var section = button.data('section');
      // KMS
      var accountNumber = button.data('account-number');
      var description = button.data('description');
      var cashinacctmId = button.data('cashinacctm-id');
      
      var editForm = $('#editForm');
      console.log(editForm);
      var editUrl = "{% url 'transactions:cashinacctm_update' 0 %}".replace('0', cashinacctmId);
      editForm.attr('action', editUrl);
      var modal = $(this);
      // var accountNumber = modal.find('#id_AccountNumber').val();
      console.log(accountNumber);
      // var description = modal.find('#id_Description').val();

      // Dynamically update IDs
      editForm.find('#id_Status').attr('id', 'edit_Status');
// KMS
      editForm.find('#id_Type').attr('id', 'edit_Type');
      editForm.find('#id_Statement').attr('id', 'edit_Statement');
      editForm.find('#id_Section').attr('id', 'edit_Section');
      editForm.find('#id_RollupType').attr('id', 'edit_RollupType');
// kms
      editForm.find('#id_AccountNumber').attr('id', 'edit_AccountNumber');
      editForm.find('#id_Description').attr('id', 'edit_Description');

      // Set the values in the edit form
      var account = $('#edit_AccountNumber');
      var statusField = $('#edit_Status');
// KMS
      var typeField = $('#edit_Type');
      var statementField = $('#edit_Statement');
      var sectionField = $('#edit_Section');
      var rolluptypeField = $('#edit_RollupType');
// KMS
      console.log(account);
      var descriptionField = $('#edit_Description');

      account.val(accountNumber);
      statusField.val(status);
// KMS
      typeField.val(type);
      statementField.val(statement);
      sectionField.val(section);
      rolluptypeField.val(rolluptype)
// KMS
      descriptionField.val(description);
  });
});

</script>
{% endblock %}