{% load custom_filters %}
{% load humanize %}
{% load static %}
{% load bootstrap_icons %}   

<!-- Statement Add Modal -->
<div class="modal fade" id="statementModal" tabindex="-1" aria-labelledby="statementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statementModalLabel">Add Statement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form
          action="{% if section.id %}{% url 'transactions:statement_section_with_id' section.id %}{% else %}{% url 'transactions:statement_section' %}{% endif %}"
          method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
                {% for field in statementForm %}
                <div class="col-12 col-md-6 mb-3">
                  <div class="form-floating"> <!-- Use floating labels for a neater look -->
                    {{ field }} <!-- Render the field itself -->
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                  </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Section Add Modal -->
  <div class="modal fade" id="sectionModal" tabindex="-1" aria-labelledby="sectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionModalLabel">Add Section</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form
          action="{% if section.id %}{% url 'transactions:statement_section_with_id' section.id %}{% else %}{% url 'transactions:statement_section' %}{% endif %}"
          method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
                {% for field in statementSectionsForm %}
                <div class="col-12 mb-3">
                  <div class="form-floating"> <!-- Use floating labels for a neater look -->
                    {% if field|field_type == 'Select' %}
                        <select class="form-select {{ INPUT_CLASSES }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                            {% for option_key, option_value in field.field.choices %}
                                <option value="{{ option_key }}" {% if field.value == option_key %}selected{% endif %}>
                                    {{ option_value }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% else %}
                        {{ field }} <!-- Render the field itself -->
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                    {% endif %}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                  </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementSectionForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Statement Line Add Modal -->
  <div class="modal fade" id="statementLineModal" tabindex="-1" aria-labelledby="statementLineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionModalLabel">Add Lines</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form
          action="{% if section.id %}{% url 'transactions:statement_section_with_id' section.id %}{% else %}{% url 'transactions:statement_section' %}{% endif %}"
          method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
              {% for field in statementLinesForm %}
              <div class="col-12 mb-3">
                <div class="form-floating"> <!-- Use floating labels for a neater look -->
                  {% if field|field_type == 'Select' %}
                      <select class="form-select {{ INPUT_CLASSES }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                          {% for option_key, option_value in field.field.choices %}
                              <option value="{{ option_key }}" {% if field.value == option_key %}selected{% endif %}>
                                  {{ option_value }}
                              </option>
                          {% endfor %}
                      </select>
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% else %}
                      {{ field }} <!-- Render the field itself -->
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                  {% endif %}
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementLinesForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Statement Accounts Add Modal -->
  <div class="modal fade" id="statementAccountModal" tabindex="-1" aria-labelledby="statementAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionModalLabel">Add Accounts</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form
          action="{% if section.id %}{% url 'transactions:statement_section_with_id' section.id %}{% else %}{% url 'transactions:statement_section' %}{% endif %}"
          method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
              {% for field in statementAccountForm %}
                <div class="col-12 mb-3">
                  <div class="form-floating"> <!-- Use floating labels for a neater look -->
                    {% if field|field_type == 'Select' %}
                        <select class="form-select {{ INPUT_CLASSES }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                            {% for option_key, option_value in field.field.choices %}
                                <option value="{{ option_key }}" {% if field.value == option_key %}selected{% endif %}>
                                    {{ option_value }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% else %}
                        {{ field }} <!-- Render the field itself -->
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                    {% endif %}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementAccountForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit statement modal -->
  <div class="modal fade" id="editStatementModal" tabindex="-1" aria-labelledby="statementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statementModalLabel">Edit Statement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="" method="post" id="editStatementForm">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
                {% for field in statementForm %}
                <div class="col-12 col-md-6 mb-3">
                  <div class="form-floating"> <!-- Use floating labels for a neater look -->
                    {{ field }} <!-- Render the field itself -->
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                  </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Edit section modal -->
  <div class="modal fade" id="editSectionModal" tabindex="-1" aria-labelledby="editSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionModalLabel">Edit Section</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="" method="post" id="editSectionForm">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
                {% for field in statementSectionsForm %}
                <div class="col-12 mb-3">
                  <div class="form-floating"> <!-- Use floating labels for a neater look -->
                    {% if field|field_type == 'Select' %}
                        <select class="form-select {{ INPUT_CLASSES }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                            {% for option_key, option_value in field.field.choices %}
                                <option value="{{ option_key }}" {% if field.value == option_key %}selected{% endif %}>
                                    {{ option_value }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% else %}
                        {{ field }} <!-- Render the field itself -->
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                    {% endif %}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                  </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementSectionForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Edit line modal -->
  <div class="modal fade" id="editLineModal" tabindex="-1" aria-labelledby="editLineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionModalLabel">Edit Line</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form method="post" action="" id="editLineForm">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
              {% for field in statementLinesForm %}
              <div class="col-12 mb-3">
                <div class="form-floating"> <!-- Use floating labels for a neater look -->
                  {% if field|field_type == 'Select' %}
                      <select class="form-select {{ INPUT_CLASSES }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                          {% for option_key, option_value in field.field.choices %}
                              <option value="{{ option_key }}" {% if field.value == option_key %}selected{% endif %}>
                                  {{ option_value }}
                              </option>
                          {% endfor %}
                      </select>
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% else %}
                      {{ field }} <!-- Render the field itself -->
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                  {% endif %}
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementLinesForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Statement Accounts Eddit Modal -->
  <div class="modal fade" id="editAccountModal" tabindex="-1" aria-labelledby="editStatementAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionModalLabel">Edit Accounts</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="editAccountForm" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
              {% for field in statementAccountForm %}
                <div class="col-12 mb-3">
                  <div class="form-floating"> <!-- Use floating labels for a neater look -->
                    {% if field|field_type == 'Select' %}
                        <select class="form-select {{ INPUT_CLASSES }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                            {% for option_key, option_value in field.field.choices %}
                                <option value="{{ option_key }}" {% if field.value == option_key %}selected{% endif %}>
                                    {{ option_value }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% else %}
                        {{ field }} <!-- Render the field itself -->
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                    {% endif %}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementAccountForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- selected statement modal -->
  <div class="modal fade" id="selectedStatementModal" tabindex="-1" aria-labelledby="selectedStatementModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the Statement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ selectedStatementForm.FSName.id_for_label }}">Statement</label>
              {{ selectedStatementForm.FSName }}
            </div>
            {% if selectedStatementForm.errors or selectedStatementForm.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
              {% for field in selectedStatementForm %}
              {{ field.errors }}
              {% endfor %}

              {{ selectedStatementForm.non_field_errors }}
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="SelectedStatementForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- cash flow statement modal -->
  <div class="modal fade" id="cashFlowStatementModal" tabindex="-1" aria-labelledby="cashFlowStatementModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header" style="padding: 0; color: white; height: 90px;">
          <h5 class="modal-title w-100 text-center" id="exampleModalLabel" style="background-color: #213186;">Cash Flow Statement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <p class="text-center" style="font-weight: bold;">Person or Family Name: {{ statement.FSName }}</p>
            <p class="text-center" style="font-weight: bold;">For Period From {{ statement.FSFromDate }} through {{ statement.FSThroughDate }}</p>

            <table>
                {% for section in statementSections %}
                    <tr>
                        <td colspan="2" class="section-header">{{ section.SSName }}</td>
                    </tr>
                    {% for line in section.statementsectionlines_set.all %}
                        <tr>
                            <td class="line-item">{{ line.SLName }}</td>
                            <td class="account-value">
                                {% for account in line.statementlineaccounts_set.all %}
                                    {{ account.LAAccount | intcomma }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="line-item"><strong>Net Cash Flow from {{ section.SSName }}</strong></td>
                        <td class="account-value"><strong>{{ section.total }}</strong></td>
                    </tr>
                {% endfor %}
            </table>
          </div>
      </div>
    </div>
  </div>

<!-- Modal Supp1 -->
<div class="modal fade" id="Supp1" tabindex="-1" aria-labelledby="Supp1Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="Supp1Label">Support: 24-hours/day 365-days/year!!!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Family Tracker refuses to accept anything short of a delighted user. If we can help in any way, or
                you run into issues, please feel free to call: (704) 607-4291.<br><br>For less urgent requests or
                issues, please log a "Service Request" and we will respond via email, or contact you at your
                convenience.<br><br>Our intent is to constantly improve, make Family Tracker the most family
                friendly, easy to use, and useful internet application on the market today.<br><br>Thank you for
                your continued support and using Family Tracker.<br><br>We appreciate all feedback!<br><br>Thank
                you,<br><br>Kirk Shelton<br>Founder & CEO
            </div>
        </div>
    </div>
</div>

<!-- Modal Sugg1 -->
<div class="modal fade" id="Sugg1" tabindex="-1" aria-labelledby="Sugg1Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="Sugg1Label">Thoughts? Help us Make Family Tracker Better</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Family Tracker welcomes thoughts and suggestions.<br><br>Please feel free to call: (704)
                607-4291.<br> Or, Email us: "kirk.shelton@BallantyneTechnologyGroup.com"<br><br>We will answer all
                calls or contact you at your convenience.<br><br>Thank you for your continued support and using
                Family Tracker.<br><br>We appreciate all feedback!
            </div>
        </div>
    </div>
</div>

<!-- Modal Serv1 -->
<div class="modal fade" id="Serv1" tabindex="-1" aria-labelledby="Serv1Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="Serv1Label">Send Us a Service Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                <br>If you run into any issues, or just have a Navigation or Feature question, please feel free to
                call:<br>(704) 607-4291<br><br>Alternatively, Email us:
                "kirk.shelton@BallantyneTechnologyGroup.com"<br><br>Please include the following in your Email:<br>
                1. Preference to be called or Email Response<br> 2. Issue or question short description<br> 3. Issue
                or question full description, including navigation<br> 4. How long you have been experiencing the
                issue<br> 5. Best time to call if that is your preference<br><br>We will answer all calls or contact
                you at your convenience.<br><br>Thank you for your continued support and using Family Tracker.
            </div>
        </div>
    </div>
</div>

<!-- Modal Overview -->
<div class="modal fade" id="Overview" tabindex="-1" aria-labelledby="OverviewLabel" aria-hidden="true">
  <div class="modal-dialog ads modal-xl">
      style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
      <div class="modal-content">
          <div class="modal-header primary">
              <h5 class="modal-title" id="OverviewLabel">Overview</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </div>
          <div class="modal-body">
              <br>The Finances application is a complete individual or household bookkeeping sytem, including:<br> 
              <br>1) Income Statement, <br>2) Balance Sheet, <br>3) Cash Flow Statement, <br>4) Expense Analsys, 
              and <br>5) Budgeting.  
              <br><br>The application features antomated transaction capture & upload from your bank statement.  
              The set of books is seeded with over 130 accounts, with predefined financial statemens, sections 
              and lines.  The "Setup Books" tab allows you to add, delete or update accounts or financial 
              statements that come pre-seeded with TRAXX.  The "Bookkeeping" tab allows you to upload transactions 
              from your bank financial statements, enter manual transactions, or Post current net income to 
              retained earnings.  Moving Net earnings from the income statement to the balance sheet.  The "Reporting" 
              tab allows you to run any of your financial statements and optionally download the report.
          </div>
      </div>
  </div>
</div>

<!-- Modal About1 -->
<div class="modal fade" id="About1" tabindex="-1" aria-labelledby="About1Label" aria-hidden="true">
  <div class="modal-dialog ads modal-xl" 
      style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
      <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="About1Label">A Story of Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
              The TRAXX Resource & Communication Management System was created by Kirk Shelton
              the founder and Managing Principal of "Cliffs Software Solutions" (CSS). Kirk has
              extensive experience building and managing startup technology concerns and
              the innovative use of technology to develop and deliver exceptional value to clients.
              His experience includes business development, successfully delivering large, complex,
              multi-disciplined projects, developing and delivering custom software solutions
              and integrations, and building feature rich extensions to enhance existing platform
              software solutions.<br>
              M.B.A. Economics and Finance, Honors, Wayne State University, Detroit, MI<br>
              B.S. Management Information Systems, Honors, Oakland University, Rochester Hills, MI
              <br><br>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              The CSS Board of Advisors Includes: Edward J. Sanz, Michael Onak, Rui Sousa, and Lisa Shelton.
              <br><br>
              Edward J. Sanz, CFA, CTP<br>
              Managing Partner, ABTV<br>
              Mr. Sanz is a senior finance and restructuring professional with over thirty years
              of experience as a CFO, interim manager, and financial consultant to business owners,
              boards of directors and senior management in the U.S. and abroad. He manages a
              consulting firm that advises companies requiring transformation or solving complex
              financial and operational problems.<br>He began his career in commercial lending and
              public accounting and has since been in senior financial management roles and an
              dvisor to business owners, company management and boards of directors. Mr. Sanz
              has authored articles for industry journals and chapters of the Turnaround Management
              Association's Body of Knowledge and has spoken on a number of related topics. He
              currently serves on the Board of the Carolinas Chapter of the Turnaround Management
              Association (TMA) where he was also a past President. He also served on the
              Board of Trustees of TMA Global, where he chaired the Certification Oversight
              Committee which oversees the administration of the Certified Turnaround Professional
              (CTP) designation.
              Mr. Sanz graduated from the University of Virginia with a Bachelor of Science in
              Commerce and received his Master's in Business Administration with honors from
              Emory University. He holds Chartered Financial Analyst (CFA) and Certified Turnaround
              Professional (CTP) designations.<br><br>
              Michael Onak<br>
              Senior Partner (retired)<br>
              Ernst & Young LLP
              Michael Onak ran the Banking Consulting practice in the Americas. He has been in
              professional services for over 30 years focused primarily on the Financial Services
              Industry. Michael has served E&Y's largest clients and built and grown large consulting
              practices. He has held many Americas and global leadership positions at E&Y.<br>
              Mr. Onak Graduated from Northern Illinois University with a Bachelor of Science Degree
              <br><br>
              Rui Sousa<br>
              Lead Engineer & Software Development Manager, Cliffs Software Solutions, LLC
              In addition to being an international advisor to Cliffs Software Solutions, Mr. Sousa
              is a talented, experienced software developer with extensive Python, Django, and Java
              Script experience. He has been integral to the early development of TRAXX with a
              strong emphasis on best practices, object orientation and reusability.<br>
              B.A. Computer Science, University of Cabo Verde, Praia Cabo Verde
              <br><br>
              Lisa Shelton<br>
              Lisa is an experienced IT and Accounting professional having run multiple IT and
              Accounting departments. She has been successful in multiple enterprise package selections
              and implementations. Lisa brings the "Practical Magic" to TRAXX with a heavy emphasis
              on the user interface, simplicity and useability.<br>
              M.B.A. University of Detroit, Detroit, MI<br>
              B.S. Accouting, Nothwood University, Midland, MI<br><br>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              CSS CORE VALUES:
              <br><br>
              SERVICE & CUSTOMER ORIENTATION: Incredibly easy to do business with. Simple straight
              forward pricing and service offerings. Being service-minded or customer-oriented means that
              we care about providing a quality experience to the clients we serve. This value extends to
              supporting our community and our associates. Valuing service means that we aim to provide a
              meaningful experience to the people we serve and support.<br><br>
              INTEGRITY: Valuing integrity in the workplace means that we strive to do the right thing,
              even when we know no one else is looking. CSS highly values honesty, transparency and a
              commitment to doing what is best for our clients, teammates, and company. The growth of a
              company follows the professional growth of its employees. Valuing growth
              means that we have the drive to continuously improve both ourselves and our company. Growth
              is based on mutual success. CSS is a company that develops its staff and provides an
              environment that fosters personal and professional development.<br><br>
              ACCOUNTABILITY: Is a willingness to accept and embrace responsibility for one's actions
              and the impact on the enterprise.<br><br>
              INNOVATION: Challenging ourselves to see what is possible to better meet the needs of
              fellow associates, clients and company. CSS will always be a work in progress, striving to
              improve and do better, thinking of creative ways to solve tough problems and take calculated
              risks. Finding new ways to solve a problem can help the company move forward.<br><br>
              CREATIVITY AND TENACITY: The un-relenting use of our creative or original ideas, particularly
              in the creation of high-value software solutions and professional services for our clients.
          </div>
        </div>
    </div>
</div>

    <!-- Modal SponNote -->
    <div class="modal fade" id="SponNote" tabindex="-1" aria-labelledby="SponNoteLabel" aria-hidden="true">
      <div class="modal-dialog ads modal-xl" style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
          <div class="modal-content">
              <div class="modal-header primary">
                  <h5 class="modal-title" id="SponNoteLabel">A Note to Our Sponsors</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </div>
              <div class="modal-body">
                      This will be a note to our current sponsors (Advertisers) on TRAXX 
              </div>
          </div>
      </div>
  </div>

  <!-- Modal PotSponNote -->
  <div class="modal fade" id="PotSponNote" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
      <div class="modal-dialog ads modal-xl" style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
          <div class="modal-content">
              <div class="modal-header primary">
                  <h5 class="modal-title" id="PotSponNoteLabel">A Note to Our Potential Sponsors</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </div>
              <div class="modal-body">
                      This will be a note to our potential sponsors (Advertisers) on TRAXX 
              </div>
          </div>
      </div>
  </div>

<!-- Modal Trivia -->
<div class="modal fade" id="Trivia" tabindex="-1" aria-labelledby="TriviaLabel" aria-hidden="true">
  <div class="modal-dialog ads modal-xl"
      style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
      <div class="modal-content">
          <div class="modal-header primary">
              <h5 class="modal-title" id="TriviaLabel">Trivia of the Day</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </div>
          <div class="modal-body">
            Although they each use their own version of the currency, Argentina, Chile, Colombia, Cuba, the Dominican Republic, Mexico, the Philippines, and Uruguay all use a currency with what four-letter name?
            <br><br>
            Answer: Peso  
            <br><br><br>
            In economics, the Laffer curve describes the relationship between the rate of which 
            compulsory financial charge and the resulting revenue? According to Benjamin Franklin, 
            only this financial charge and death are certainties in life.
            <br><br>
            Answer: Taxes  
            <br><br><br>   
            "The Oracle of Omaha" is a nickname often used to describe what legendary American 
            investor and CEO of Berkshire Hathaway?
            <br><br>
            Answer: Warren Buffett
            <br><br>
          </div>
      </div>
  </div>
</div>

<!-- Modal Hint -->
<div class="modal fade" id="Hint" tabindex="-1" aria-labelledby="HintLabel" aria-hidden="true">
  <div class="modal-dialog ads modal-xl"
      style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
      <div class="modal-content">
          <div class="modal-header primary">
              <h5 class="modal-title" id="TriviaLabel">Hint of the Day</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </div>
          <div class="modal-body">
              Using a credit card and making full payment before interest accrues helps to track
              Finances, where money is being sent and is easily uploada into TRAXX where it expenditures
              may be further tracked and analyzed.<br><br>As an additional benefit, you are able to use "Other Peoples Money" or 
              OPM, for up to 30 days.<br><br>However, it is important to always pay the balance in full 
              prior to being due to avoid very high credit card interest charges.           
          </div>
      </div>
  </div>
</div>


<!-- Modal AdvSpot1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ads">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">On-Line Luxury Cars for Less</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Typically Products and/or Services, Specials, promo-Code "FT01", URL for web site or more
                information, etc... <br><br> Question for Rui, how do we size, should be a little wider.
            </div>
        </div>
    </div>
</div>

<!-- Modal AdvSpot2 -->
<div class="modal fade" id="ad2Modal" tabindex="-1" aria-labelledby="ad2ModalLabel" aria-hidden="true">
    <div class="modal-dialog ads">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ad2ModalLabel">Frank Lloyd Wright Inspired Bathrooms</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Inspired by one of the greatest architects of all time Frank Lloyd Wright. Sleak, modern lines and
                unparalleled Quality.<br><br>We provide design and build services, and a lifetime
                warranty.<br><br>For more information: "https://www.flrdesigns.com"<br>Promo Code: "FT001"<br><br>Or
                call us directly: (213) 999-8888
            </div>
        </div>
    </div>
</div>

<!-- Modal AdvSpot3 -->
<div class="modal fade" id="ad3Modal" tabindex="-1" aria-labelledby="ad2ModalLabel" aria-hidden="true">
    <div class="modal-dialog ads">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ad3ModalLabel">Watch the US Open!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                The Worlds Greatest Golfers on one of the foremost tests in Golf... Pebble Beach.<br><br>Coverage is
                from June 15th to June 18th on ESPN with a $20M purse at stake.<br><br>With the Leaderboard in
                constant flux, the US Open is must see TV
            </div>
        </div>
    </div>
</div>

<!-- Modal AdvSpot4 -->
<div class="modal fade" id="ad4Modal" tabindex="-1" aria-labelledby="ad2ModalLabel" aria-hidden="true">
    <div class="modal-dialog ads">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ad3ModalLabel">Let Your Voice Be Heard!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Voting is one of the greatest privileges and responsibilities of being a US
                citizen.<br><br>Irrespective of you political party or affiliation, it's critically important that
                your voice be heard.<br><br>For your location options: "www.mypollingoptions.com"
            </div>
        </div>
    </div>
</div>

<!-- Modal AdvSpot5 -->
<div class="modal fade" id="ad5Modal" tabindex="-1" aria-labelledby="ad5ModalLabel" aria-hidden="true">
    <div class="modal-dialog ads">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ad5ModalLabel">The Best Mattress Money can Buy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                You spend a third of your life on your mattress. It should be a comfortable and healthful
                experience.<br>Our hand-crafted matress' are unique in their quality, support, and luxury.<br>Video
                of our Manufacturing process: "https://www.youtube.com/themattressfacory"<br>Call us today for a
                quick quote or to place an order (999) 888-7777. Promo Code "FT001"
            </div>
        </div>
    </div>
</div>

<!-- Modal AdvSpot6 -->
<div class="modal fade" id="ad6Modal" tabindex="-1" aria-labelledby="ad6ModalLabel" aria-hidden="true">
    <div class="modal-dialog ads">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ad6ModalLabel">Watch Monday Night Football</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Extend your weekend, pop some corn, or order some hot wings, grab a cold beverage and Watch Monday
                Night Football.<br><br>Great moments happen on Monday Night Football, the stars of the game, the
                great plays, and all the excitement!!!
            </div>
        </div>
    </div>
</div>

<!-- Modal AdvSpot7 -->
<div class="modal fade" id="ad7Modal" tabindex="-1" aria-labelledby="ad7ModalLabel" aria-hidden="true">
    <div class="modal-dialog ads">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ad7ModalLabel">Paradise Island in the Bahamas!!!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                The name Paradise Island could not be more fitting. Awaiting you here are idyllic beaches, exciting
                nightlife and popular attractions like Atlantis, the largest resort in the Caribbean, with a casino,
                water park and aquarium.<br><br>To let you experience an all-inclusive Paradise Island holiday, RIU
                Hotels & Resorts offers you the Hotel Riu Palace Paradise Island, located on the beachfront of the
                heavenly Cabbage Beach. There you can relax under the warm Caribbean sun, enjoy a pleasant stroll on
                the shore, or practise different aquatic sports like water skiing, jet ski, windsurfing and kite
                surfing.<br><br>On Paradise Island you'll enjoy a cuisine rich in fish and seafood typical of the
                region, like conch (a type of mollusk), tuna, red lobster and shrimp. You can also savour delicious
                fish and vegetable soups, bean soups and a variety of tropical fruits native to the country, like
                soursops, sapodilla and
                jujubes.<br><br>"https://RUIBahamasReservations"<br>"https://RUIBahamasGallery"<br>For more
                information: (111) 222-3333"
            </div>
        </div>
    </div>
</div>