{% extends 'transactions/base.html' %}
{% load static %}

{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Under Construction</h2>
        <!-- <img src="{% static 'construction.jpg' %}" style="height: 30%;" alt="Under Construction" -->
      </p>
    </a>
  </div>
</p>
</br></br>   
<div style="width: 100%; height: 250px; background-color: #DDEBF7;">
    <!-- <a href="#exampleModal" data-bs-toggle="modal"> -->
    <img src="{% static 'construction.jpg' %}" style="height: 100%;" alt="Under Construction">
    <!-- </a> -->
</div>

{% endblock %}


