{% extends 'transactions/base_no_search.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block title %}Lists & Planning{% endblock %}
{% load custom_filters %}

{% block pageimage %}
<img style="float: left;" src="{% static 'ListsAndPlanning.jpg' %}" alt="Liststs and Planning Tile Missing" width="100"
  height="100">
{% endblock %}

{% block backurl %}{%url 'LoginRegister:FTMainMenu'%}{% endblock %}

{% block pageTitle %}
{% endblock %}

{% block content %}
<div class="row text-center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Statement Lines</h2>
      </p>
    </a>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <!-- Statement -->
    <table style="border-bottom: none!important;">
      <thead>
        <tr>
          <th style="text-align: center;">Statement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center; white-space: nowrap;">
            <a href="#" class="btn btn-primary listheaderbuttons" data-bs-toggle="modal" data-bs-target="#statementModal"
              style="border-radius: 0%;">New</a>
            <a href="#" class="btn btn-primary listheaderbuttons" style="border-radius: 0%; margin: 0;"
              data-bs-toggle="modal" data-bs-target="#selectedStatementModal">Existing</a>
              <a href="#" class="btn btn-primary listheaderbuttons" style="border-radius: 0%; margin: 0;"
              data-bs-toggle="modal" data-bs-target="#cashFlowStatementModal">Cash Flow Statement</a>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <table style="margin-top: 0%;">
              <thead>
                <tr>
                  <th>Statement Name</th>
                  <th>FSFromDate</th>
                  <th>FSThroughDate</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% if statement %}
                    <td>{{ statement.FSName }}</td>
                    <td>{{ statement.FSFromDate }}</td>
                    <td>{{ statement.FSThroughDate }}</td>
                    <td style="text-align: center;">
                    <a href="#" class="edit-statement-button" data-bs-toggle="modal" data-bs-target="#editStatementModal"
                      data-id="{{ statement.id }}" data-FSName="{{ statement.FSName }}" data-FSFromDate="{{ statement.FSFromDate|date:'Y-m-d' }}" 
                      data-FSThroughDate="{{ statement.FSThroughDate|date:'Y-m-d' }}" data-FSPostedDate="{{ statement.FSPostedDate|date:'Y-m-d' }}" style="text-decoration: none;">{% bs_icon 'pencil' %}</a>
                    <a href="#" class="delete-button">{% bs_icon 'trash' %}</a>
                  {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Sections -->
<table style="margin-top: 0%;">
  <thead>
    <tr>
      <th colspan="3" style="text-align: center;">Section</th>
    </tr>
    <tr>
      <th>Section Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for section in statementSections %}
      <tr>
        <td>{{ section.SSName }}</td>
        <td>{{ section.SSDescription }}</td>
        <td>
          <!-- Actions for editing/deleting sections -->
          {% if section %}          
          <a href="#" class="edit-section-button" data-bs-toggle="modal" data-bs-target="#editSectionModal"
            data-id="{{ section.id }}" data-FinStatementsFK="{{ section.FinStatementsFK.id }}"
            data-SSName="{{ section.SSName }}" data-SSDescription="{{ section.SSDescription }}"
            >{% bs_icon 'pencil' %}</a>
          <a href="{% url 'transactions:section_delete' section.id %}" class="delete-button">{% bs_icon 'trash' %}</a>
          {% endif %}
        </td>
      </tr>

      <!-- Lines within each Section -->
      {% for line in section.statementsectionlines_set.all %}
        <tr>
          <td colspan="3">
            <table style="width:100%">
              <thead>
                <tr>
                  <th>Line Name</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ line.SLName }}</td>
                  <td>{{ line.SLDescription }}</td>
                  <td>
                    <!-- Actions for editing/deleting lines -->
                    {% if line %}
                      
                      <a href="#" class="edit-line-button" data-bs-toggle="modal" data-bs-target="#editLineModal"
                        data-id="{{ line.id }}" data-SectionFK="{{ line.SLStatementSectionsFK.id }}"
                        data-SLName="{{ line.SLName }}" data-SLDescription="{{ line.SLDescription }}"
                        >{% bs_icon 'pencil' %}</a>
                      <a href="{% url 'transactions:line_delete' line.id %}" class="delete-button">{% bs_icon 'trash' %}</a>
                      {% endif %}
                  </td>
                </tr>

                <!-- Accounts within each Line -->
                {% for account in line.statementlineaccounts_set.all %}
                  <tr>
                    <td colspan="3">
                      <table style="width:100%">
                        <thead>
                          <tr>
                            <th>Account</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{ account.LAAccount }}</td>
                            <td>{{ account.LAAccountType }}</td>
                            <td>{{ account.LAADescription }}</td>
                            <td>
                              <!-- Actions for editing/deleting accounts -->
                              {% if account %}
                              <a href="#" class="edit-account-button" data-bs-toggle="modal" data-bs-target="#editAccountModal"
                                data-id="{{ account.id }}" data-LAStatementLineFK="{{ account.LAStatementLineFK.id }}"
                                data-LAAccount="{{ account.LAAccount }}" data-LAAccountType="{{ account.LAAccountType }}" 
                                data-LAADescription="{{ account.LAADescription }}">{% bs_icon 'pencil' %}</a>
                              <a href="{% url 'transactions:account_delete' account.id %}" class="delete-button">{% bs_icon 'trash' %}</a>
                              {% endif %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                {% endfor %} <!-- End Accounts loop -->
              </tbody>
            </table>
          </td>
        </tr>
      {% endfor %} <!-- End Lines loop -->

    {% endfor %} <!-- End Sections loop -->

    <!-- Buttons for adding new account, line, and section -->
    <tr>
      <td colspan="3" class="text-center">
        <!-- Add Account Button -->
        <a class="add-button btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#statementAccountModal">Add Account</a>
        <!-- Add Line Button -->
        <a class="add-button btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#statementLineModal">Add Line</a>
        <!-- Add Section Button -->
        <a class="add-button btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#sectionModal">Add Section</a>
      </td>
    </tr>
  </tbody>
</table>

  </div>
  <div class="col-md-1">
  </div>

</div>
{% endblock %}
{% block modal-script %}
<script>
  $(document).ready(function () {
    $('.edit-statement-button').click(function (e) {
      e.preventDefault();

      let statementId = $(this).data('id');
      let statementFSName = $(this).data('fsname');
      let statementFromDate = $(this).data('fsfromdate');
      let statementThroughDate = $(this).data('fsthroughdate');
      let statementPostedDate = $(this).data('fsposteddate');
      console.log(typeof statementFromDate);
      // Fill the form with data
      $('#editStatementForm input[name="FSName"]').val(statementFSName);
      $('#editStatementForm input[name="FSFromDate"]').val(statementFromDate);
      $('#editStatementForm input[name="FSThroughDate"]').val(statementThroughDate);
      $('#editStatementForm input[name="FSPostedDate"]').val(statementPostedDate);

      // Update form's action attribute
      // Assuming your URL for updating account is '/update_account/<id>'
      $('#editStatementForm').attr('action', '{% url "transactions:statement_update" 0 %}'.replace('0', statementId));

    });

    $('.edit-section-button').click(function (e) {
      e.preventDefault();

      let sectionId = $(this).data('id');
      let statementFK = $(this).data('finstatementsfk');
      let sectionName = $(this).data('ssname');
      let sectionDescription = $(this).data('ssdescription');
      console.log(sectionDescription);

      $('#editSectionForm input[name="SSName"]').val(sectionName);
      $('#editSectionForm input[name="SSDescription"]').val(sectionDescription);

      // $('#editDetailModal').modal('show');

      $('#editSectionForm').attr('action', '{% url "transactions:section_update" 0 %}'.replace('0', sectionId));
    });

    $('.edit-line-button').click(function (e) {
      e.preventDefault();

      let lineId = $(this).data('id');
      let sectionFK = $(this).data('sectionfk').toString();
      let lineName = $(this).data('slname');
      let lineDescription = $(this).data('sldescription');

       // Clear any previous selection
      $("#id_SLStatementSectionsFK option:selected").removeAttr("selected");


       // Set the new selection
      $("#id_SLStatementSectionsFK option").filter(function() {
          return $(this).val() == sectionFK; // Match string representation
      }).attr('selected', true);
      
      $('#editLineForm input[name="SLName"]').val(lineName);
      $('#editLineForm input[name="SLDescription"]').val(lineDescription);

      $('#editLineForm').attr('action', '{% url "transactions:line_update" 0 %}'.replace('0', lineId));
    });

    $('.edit-account-button').click(function (e) {
      e.preventDefault();

      let accountId = $(this).data('id');
      let lineFK = $(this).data('lastatementlinefk').toString();
      let account = $(this).data('laaccount');
      let accountType = $(this).data('laaccounttype');
      let accountDescription = $(this).data('laadescription');

       // Clear any previous selection
      $("#id_LAStatementLineFK option:selected").removeAttr("selected");


       // Set the new selection
      $("#id_LAStatementLineFK option").filter(function() {
          return $(this).val() == lineFK; // Match string representation
      }).attr('selected', true);
      
      $('#editAccountForm input[name="LAAccount"]').val(account);
      $('#editAccountForm input[name="LAAccountType"]').val(accountType);
      $('#editAccountForm input[name="LAADescription"]').val(accountDescription);

      $('#editAccountForm').attr('action', '{% url "transactions:account_update" 0 %}'.replace('0', accountId));
    });

  });

</script>
{% endblock %}