{% extends 'transactions/base_no_search.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block title %}Lists & Planning{% endblock %}
{% load custom_filters %}

{% block pageimage %}
<img style="float: left;" src="{% static 'ListsAndPlanning.jpg' %}" alt="Liststs and Planning Tile Missing" width="100"
  height="100">
{% endblock %}

{% block backurl %}{%url 'LoginRegister:FTMainMenu'%}{% endblock %}

{% block pageTitle %}
{% endblock %}

{% block content %}
<div class="row text-center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Statement Lines</h2>
      </p>
    </a>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <!-- Statement -->
    <table style="border-bottom: none!important;">
      <thead>
        <tr>
          <th style="text-align: center;">Statement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center; white-space: nowrap;">
            <a href="#" class="btn btn-primary listheaderbuttons" data-bs-toggle="modal" data-bs-target="#statementModal"
              style="border-radius: 0%;">New</a>
            <a href="#" class="btn btn-primary listheaderbuttons" style="border-radius: 0%; margin: 0;"
              data-bs-toggle="modal" data-bs-target="#selectedStatementModal">Existing</a>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <table style="margin-top: 0%;">
              <thead>
                <tr>
                  <th>Statement Name</th>
                  <th>FSName</th>
                  <th>FSThroughDate</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% if statement %}
                    <td>{{ statement.FSName }}</td>
                    <td>{{ statement.FSFromDate }}</td>
                    <td>{{ statement.FSThroughDate }}</td>
                    <td style="text-align: center;">
                    <a href="#" class="edit-header-button" data-bs-toggle="modal" data-bs-target="#editHeaderModal"
                      data-id="{{ section.id }}" data-LHName="{{ section.LHName }}"
                      data-LHDescription="{{ section.SSDescription }}" style="text-decoration: none;">{% bs_icon 'pencil' %}</a>
                    <a href="#" class="delete-button">{% bs_icon 'trash' %}</a>
                  {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Section -->
    <table style="margin-top: 0%;">
      <thead>
        <tr>
          <th style="text-align: center;">Section</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center; white-space: nowrap;">
            <table style="margin-top: 0%;">
              <thead>
                <tr>
                  <th>Section Name</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for section in statementSections %}
                  <tr>
                    <td>{{ section.SSName }}</td>
                    <td>{{ section.SSDescription }}</td>
                    <td>
                      {% if section %}
                      
                      <a href="#" class="edit-detail-button" data-bs-toggle="modal" data-bs-target="#editdetailModal"
                        data-id="{{ section.id }}" data-FinStatementsFK="{{ section.FinStatementsFK.FSName }}"
                        data-SSName="{{ section.SSName }}" data-SSDescription="{{ section.SSDescription }}"
                        >{% bs_icon 'pencil' %}</a>
                      <a href="#" class="delete-button">{% bs_icon 'trash' %}</a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- Add navigation links. -->
            <div class="pagination">
              <span class="step-links">
                {% if statementlines.has_previous %}
                <a href="?page={{ statementlines.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                  Page {{ statementlines.number }} of {{ statementlines.paginator.num_pages }}.
                </span>

                {% if statementlines.has_next %}
                <a href="?page={{ statementlines.next_page_number }}">next</a>
                {% endif %}
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <a class="add-button btn btn-primary listheaderbuttons" href="#" style="border-radius: 0%;"
              data-bs-toggle="modal" data-bs-target="#sectionModal">Add</a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Lines -->
    <table style="margin-top: 0%;">
      <thead>
        <tr>
          <th style="text-align: center;">Lines</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center; white-space: nowrap;">
            <table style="margin-top: 0%;">
              <thead>
                <tr>
                  <th>Line Name</th>
                  <th>Section</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for line in section.statementsectionlines_set.all %}
                <tr>
                  <td>{{ line.SLName }}</td>
                  <td>{{ line.SLStatementSectionsFK.SSName }}</td>
                  <td>{{ line.SLDescription }}</td>
                  <td>
                  </td>
                  <td>
                    {% if line %}
                    
                    <a href="#" class="edit-detail-button" data-bs-toggle="modal" data-bs-target="#editdetailModal"
                      data-id="{{ line.id }}" data-ListHeaderFK="{{ line.ListHeaderFK.LHName }}"
                      data-ListItemName="{{ line.LHName }}" data-LNNumber="{{ listdetail.LNNumber }}"
                      data-ListDetailFK="{{ line.ListDetailFK.LHName }}">{% bs_icon 'pencil' %}</a>
                    <a href="{% url 'listsplan:listDetail_delete' line.id %}" class="delete-button">{% bs_icon 'trash'
                      %}</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- Add navigation links. -->
            <div class="pagination">
              <span class="step-links">
                {% if statementlines.has_previous %}
                <a href="?page={{ statementlines.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                  Page {{ statementlines.number }} of {{ statementlines.paginator.num_pages }}.
                </span>

                {% if statementlines.has_next %}
                <a href="?page={{ statementlines.next_page_number }}">next</a>
                {% endif %}
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <a class="add-button btn btn-primary listheaderbuttons" href="#" style="border-radius: 0%;"
              data-bs-toggle="modal" data-bs-target="#statementLineModal">Add</a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Accounts -->
    <table style="margin-top: 0%;">
      <thead>
        <tr>
          <th style="text-align: center;">Accounts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center; white-space: nowrap;">
            <table style="margin-top: 0%;">
              <thead>
                <tr>
                  <th>Account</th>
                  <th>Line</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for account in line.statementlineaccounts_set.all %}
                <tr>
                  <td>{{ line.SLName }}</td>
                  <td>{{ line.SLStatementLineFK.SLName }}</td>
                  <td>{{ line.SLDescription }}</td>
                  <td>
                    {% for account in line.statementlineaccounts_set.all %}
                      <!-- Display information for each account -->
                      {{ account.SAAccount }} - {{ account.SLAAccountType }}<br>
                    {% empty %}
                      No accounts
                    {% endfor %}
                  </td>
                  <td>
                    {% if line %}
                    
                    <a href="#" class="edit-detail-button" data-bs-toggle="modal" data-bs-target="#editdetailModal"
                      data-id="{{ line.id }}" data-ListHeaderFK="{{ line.ListHeaderFK.LHName }}"
                      data-ListItemName="{{ line.LHName }}" data-LNNumber="{{ listdetail.LNNumber }}"
                      data-ListDetailFK="{{ line.ListDetailFK.LHName }}">{% bs_icon 'pencil' %}</a>
                    <a href="{% url 'listsplan:listDetail_delete' line.id %}" class="delete-button">{% bs_icon 'trash'
                      %}</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- Add navigation links. -->
            <div class="pagination">
              <span class="step-links">
                {% if statementlines.has_previous %}
                <a href="?page={{ statementlines.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                  Page {{ statementlines.number }} of {{ statementlines.paginator.num_pages }}.
                </span>

                {% if statementlines.has_next %}
                <a href="?page={{ statementlines.next_page_number }}">next</a>
                {% endif %}
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <a class="add-button btn btn-primary listheaderbuttons" href="#" style="border-radius: 0%;"
              data-bs-toggle="modal" data-bs-target="#statementAccountModal">Add</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1">
  </div>

  <!-- Statement Add Modal -->
  <div class="modal fade" id="statementModal" tabindex="-1" aria-labelledby="statementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statementModalLabel">Add Statement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form
          action="{% if section.id %}{% url 'transactions:statement_section_with_id' section.id %}{% else %}{% url 'transactions:statement_section' %}{% endif %}"
          method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
                {% for field in statementForm %}
                <div class="col-12 col-md-6 mb-3">
                  <div class="form-floating"> <!-- Use floating labels for a neater look -->
                    {{ field }} <!-- Render the field itself -->
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                  </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Section Add Modal -->
  <div class="modal fade" id="sectionModal" tabindex="-1" aria-labelledby="sectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionModalLabel">Add Section</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form
          action="{% if section.id %}{% url 'transactions:statement_section_with_id' section.id %}{% else %}{% url 'transactions:statement_section' %}{% endif %}"
          method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
                {% for field in statementSectionsForm %}
                <div class="col-12 mb-3">
                  <div class="form-floating"> <!-- Use floating labels for a neater look -->
                    {% if field|field_type == 'Select' %}
                        <select class="form-select {{ INPUT_CLASSES }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                            {% for option_key, option_value in field.field.choices %}
                                <option value="{{ option_key }}" {% if field.value == option_key %}selected{% endif %}>
                                    {{ option_value }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% else %}
                        {{ field }} <!-- Render the field itself -->
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                    {% endif %}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                  </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementSectionForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Statement Line Add Modal -->
  <div class="modal fade" id="statementLineModal" tabindex="-1" aria-labelledby="statementLineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionModalLabel">Add Lines</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form
          action="{% if section.id %}{% url 'transactions:statement_section_with_id' section.id %}{% else %}{% url 'transactions:statement_section' %}{% endif %}"
          method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
              {% for field in statementLinesForm %}
              <div class="col-12 mb-3">
                <div class="form-floating"> <!-- Use floating labels for a neater look -->
                  {% if field|field_type == 'Select' %}
                      <select class="form-select {{ INPUT_CLASSES }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                          {% for option_key, option_value in field.field.choices %}
                              <option value="{{ option_key }}" {% if field.value == option_key %}selected{% endif %}>
                                  {{ option_value }}
                              </option>
                          {% endfor %}
                      </select>
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% else %}
                      {{ field }} <!-- Render the field itself -->
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                  {% endif %}
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                  {% endfor %}
                </div>
              </div>
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementLinesForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Statement Accounts Add Modal -->
  <div class="modal fade" id="statementAccountModal" tabindex="-1" aria-labelledby="statementAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionModalLabel">Add Accounts</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form
          action="{% if section.id %}{% url 'transactions:statement_section_with_id' section.id %}{% else %}{% url 'transactions:statement_section' %}{% endif %}"
          method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="row">
              {% for field in statementAccountForm %}
                <div class="col-12 mb-3">
                  <div class="form-floating"> <!-- Use floating labels for a neater look -->
                    {{ field }} <!-- Render the field itself -->
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label> <!-- Render the label of the field -->
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    </div><div class="row">
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="StatementAccountForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit header modal -->
  <div class="modal" id="editHeaderModal" tabindex="-1" aria-labelledby="editHeaderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="" method="post" id="editHeaderForm">
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.AccountNumber.id_for_label }}">Header Name</label>
              {{ listHeaderForm.LHName }}
            </div>
            <div class="form-group">
              <label for="{{ form.Description.id_for_label }}">Description</label>
              {{ listHeaderForm.LHDescription }}
            </div>
            {% if listHeaderForm.errors or listHeaderForm.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
              {% for field in StatementLinesHeaderForm %}
              {{ field.errors }}
              {% endfor %}

              {{ StatementLinesHeaderForm.non_field_errors }}
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="ListHeaderTForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Edit detail modal -->
  <div class="modal fade" id="editDetailModal" tabindex="-1" aria-labelledby="editDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-detail">
          <h5 class="modal-title" id="detailModalLabel">{{ title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="" method="post" id="editDetailForm">
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ StatementLinesDetailForm.ListHeaderFK.id_for_label }}">List Header</label>
              {{ StatementLinesDetailForm.ListHeaderFK }}
            </div>
            <div class="form-group">
              <label for="{{ StatementLinesDetailForm.ListDetailFK.id_for_label }}">Predecessor</label>
              {{ StatementLinesDetailForm.ListDetailFK }}
            </div>
            <div class="form-group">
              <label for="{{ StatementLinesDetailForm.LNNumber.id_for_label }}">List Item Number</label>
              {{ StatementLinesDetailForm.LNNumber }}
            </div>
            <div class="form-group">
              <label for="{{ StatementLinesDetailForm.LHName.id_for_label }}">List Item Name</label>
              {{ StatementLinesDetailForm.LHName }}
            </div>
            {% if StatementLinesDetailForm.errors or StatementLinesHeaderForm.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
              {% for field in StatementLinesDetailForm %}
              {{ field.errors }}
              {% endfor %}

              {{ StatementLinesDetailForm.non_field_errors }}
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="ListDetailTForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- selected statement modal -->
  <div class="modal fade" id="selectedStatementModal" tabindex="-1" aria-labelledby="selectedStatementModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the Statement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ selectedStatementForm.FSName.id_for_label }}">Statement</label>
              {{ selectedStatementForm.FSName }}
            </div>
            {% if selectedStatementForm.errors or selectedStatementForm.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
              {% for field in selectedStatementForm %}
              {{ field.errors }}
              {% endfor %}

              {{ selectedStatementForm.non_field_errors }}
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <input type="hidden" name="form_type" value="SelectedStatementForm">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block modal-script %}
<script>
  $(document).ready(function () {
    $('.edit-header-button').click(function (e) {
      e.preventDefault();

      let listId = $(this).data('id');
      let listName = $(this).data('lhname');
      let listheaderDescription = $(this).data('lhdescription');

      // Fill the form with data
      $('#editHeaderForm input[name="LHName"]').val(listName);
      $('#editHeaderForm input[name="LHDescription"]').val(listheaderDescription);

      // Update form's action attribute
      // Assuming your URL for updating account is '/update_account/<id>'
      $('#editHeaderForm').attr('action', '{% url "listsplan:listHeader_update" 0 %}'.replace('0', listId));

    });

    $('.edit-detail-button').click(function (e) {
      e.preventDefault();

      let listDetailId = $(this).data('id');
      let ListHeaderFK = $(this).data('listheaderfk');
      let predecessor = $(this).data('listdetailfk');
      let listDetailNumber = $(this).data('lnnumber');
      let ListItemName = $(this).data('listitemname');
      console.log(ListHeaderFK);

      // Fill the form with data
      $("#id_ListHeaderFK option").each(function () {
        if ($(this).text() == ListHeaderFK) {
          $(this).attr('selected', 'selected');
        }
      });
      $("#id_ListDetailFK option").each(function () {
        if ($(this).text() == predecessor) {
          $(this).attr('selected', 'selected');
        }
      });
      $('#editDetailForm input[name="ListDetailFK"]').val(predecessor);
      $('#editDetailForm input[name="LNNumber"]').val(listDetailNumber);
      $('#editDetailForm input[name="LHName"]').val(ListItemName);

      $('#editDetailModal').modal('show');

      $('#editDetailForm').attr('action', '{% url "listsplan:listDetail_update" 0 %}'.replace('0', listDetailId));
    });

  });

</script>
{% endblock %}