{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    div.h1 {
        text-align: center
    }
</style>

<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | FamilyTracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body style="background-color:#DDEBF7;">
    <!-- KMS Start -->
    <header>
        <div class="row">
            <div class="col-md-12">
                <p style="font-size:12px">
                    {% block pageimage %}{% endblock %}
                    <img style="float: right; height: 90px;" src="{% static 'HeaderRight.jpg' %}" alt="Login Tile"
                        width="100" height="100">

                    &nbsp&nbsp&nbsp&nbsp<a href="FTAcministration/" style="color:blue">Support</a>&nbsp&nbsp
                    <a href="FTAcministration/" style="color:blue">Suggestions</a>&nbsp&nbsp
                    <a href="FTAcministration/" style="color:blue">Service Requests</a>&nbsp&nbsp
                    <a href="FTAcministration/" style="color:blue">Contact Us</a>&nbsp&nbsp
                    <a href="FTAcministration/" style="color:blue">About Our Sponsors</a>&nbsp&nbsp
                    <a href="FTAcministration/" style="color:blue">Help</a>&nbsp&nbsp
                    <a href="{% block backurl %}{% endblock %}" style="color:blue">Back</a>

                    {% block pageTitle %}
                    {% endblock %}

                </p>
            </div>
        </div>
        </nav>
    </header>

    <main class="container-fluid mt-4">
        <div class="row" style="margin: 0 5px;">
            <!-- Left Margin Advertising -->
            <div class="col-md-2" style="text-align: left;">
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#exampleModal" data-bs-toggle="modal">
                        <img src="{% static 'AdvSpot1A.jpg' %}" style="height: 95%;" alt="AdvSpot1">
                    </a>
                </div>
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <img src="{% static 'AdvSpot2.jpg' %}" style="height: 95%;" alt="Advpot2">
                </div>
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <img src="{% static 'AdvSpot3.jpg' %}" style="height: 95%;" alt="Advpot3">
                </div>
            </div>
            <!-- Center Open Area -->
            <div class="col-md-8" style="text-align: center;">
                {% block content %}
                {% endblock %}
            </div>
            <!-- Right Margin Advertising -->
            <div class="col-md-2" style="text-align: right;">
                <a>
                    <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                        <img src="{% static 'AdvSpot4.jpg' %}" style="height: 95%;" alt="AdvSpot4">
                    </div>
                    <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                        <img src="{% static 'AdvSpot05.jpg' %}" style="height: 95%;" alt="Advpot5">
                    </div>
                    <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                        <img src="{% static 'AdvSpot6.jpg' %}" style="height: 95%;" alt="Advpot6">
                    </div>
                </a>
            </div>
    </main>
    <footer class="mt-4 text-center">
        <!-- Add footer content here -->
        <img class="sponsor" src="{% static 'AdvSpot5A.jpg' %}" style="height: 400px" alt="Sponsor">
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="height: 550px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">On-Line Luxury Cars for Less</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div class="modal-body">
                        Typically Products and/or Services, Specials, promo-Code "FT01", URL for web site or more information, etc... <br><br> Question for Rui, how do we size, should be a little wider.<br><br>Make close button red.
                    </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/child.js' %}"></script>
</body>

</html>