{% extends 'base.html' %}
{% load static %}
{% block title %}Administration Menu{% endblock %}

{% block pageimage %}
<img style="float: left;" src="{% static 'Administration.jpg' %}" alt="Administration Menu Tile missing" width="100"
  height="100">
{% endblock %}
{% block backurl %}{%url 'LoginRegister:FTMainMenu'%}{% endblock %}

{% block pageTitle %}
<div class="h1">
  <a style="color:rgb(6, 6, 192)">
    <p style="font-size:40px">
      <h2>Administration Menu</h2>
    </p>
  </a>
</div>
{% endblock %}

{% block content %}
<br>
<br>
<p style="text-align:center">
  <a href="{% url 'LoginRegister:FTFamilySecurity' %}"><img src="{% static 'FamilySecurity.jpg' %}" alt="Family Security Tile Missing" width="130" height="130"></a>
  <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
  <a href="{% url 'LoginRegister:FTApple' %}"><img src="{% static 'Apple.jpg' %}" alt="Apple Tile Missing" width="130" height="130"></a>
  <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
  <a href="{% url 'LoginRegister:FTAndroid' %}"><img src="{% static 'Android.jpg' %}" alt="Android Tile Missing" width="130" height="130"></a>
  <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
</p>
{% endblock %}