{% extends 'base.html' %}
{% load static %}
{% block title %}Download the Family Tracker Android Application{% endblock %}

{% block pageimage %}
<img style="float: left;" src="{% static 'Android.jpg' %}" alt="Android Tile missing" width="100"
  height="100">
{% endblock %}
{% block backurl %}{%url 'LoginRegister:FTAcministration'%}{% endblock %}

{% block pageTitle %}
<div class="h1">
  <a style="color:rgb(6, 6, 192)">
    <p style="font-size:40px">
      <h2>Download the Family Tracker Android Application</h2>
    </p>
  </a>
</div>
{% endblock %}

{% block content %}

{% endblock %}