{% extends 'base.html' %}
{% load static %}

{% block title %}Calendar{% endblock %}

{% block pageimage %}
<img style="float: left;" src="{% static 'calendar.jpg' %}" alt="Calendar Tile missing" width="100" height="100">
{% endblock %}

{% block backurl %}{%url 'LoginRegister:FTMainMenu'%}{% endblock %}

        {% block content %}
          <div class="h1">
              <a style="color:rgb(6, 6, 192)">
                <p style="font-size:40px">
                  <h2>Calendar</h2>
                </p>
              </a>
          </div> 
        {% endblock %}