{% load static %}
<!DOCTYPE html>
<html>
  <style>
    div.h1 {text-align: center
    }
  </style>
<body style="background-color:#DDEBF7;">

<p>
<img style="float: left;" src="{% static 'DefineAccountsMenu.jpg' %}" alt="Define Accounts Menu Tile missing" width="100" height="100">
<img style="float: right;" src="{% static 'HeaderRight.jpg' %}" alt="Login Tile" width="100" height="100">

<p style="font-size:12px" >
    &nbsp&nbsp&nbsp&nbsp<a href="FTAcministration/" style="color:blue">Support</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">Suggestions</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">Service Requests</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">Contact Us</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">About</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">Help</a>&nbsp&nbsp
    <a href="{% url 'LoginRegister:FTFinMenu' %}"style="color:blue">Back</a></p>
    <p>     
  </p>
</a>
<div class="h1">
  <a style="color:rgb(6, 6, 192)">
    <p style="font-size:40px"
      <h2>Account Maintenance Menu</h2>
    </p>
  </a>
</div> 
</p>
<br>

<p style="text-align:center">
    <a href="{% url 'LoginRegister:FTRevenueAccts' %}"><img src="{% static 'CashIn.jpg' %}" alt="Cash In Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTExpAccts' %}"><img src="{% static 'CashOut.jpg' %}" alt="Cash Out Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTAssetAccts' %}"><img src="{% static 'WhatWeOwn.jpg' %}" alt="What We OwnTile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTExpAccts' %}"><img src="{% static 'WhatWeOwe.jpg' %}" alt="To Do's Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTExpAccts' %}"><img src="{% static 'Networth.jpg' %}" alt="To Do's Tile Missing" width="130" height="130"></a>
</p>
        
<p style="text-align:center">
    <a href="{% url 'LoginRegister:FTExpAccts' %}"><img src="{% static 'AccountGrouping.jpg' %}" alt="Fitness Sports Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTExpAccts' %}"><img src="{% static 'GroupingDrillDown.jpg' %}" alt="Grocery Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTExpAccts' %}"><img src="{% static 'AccountDrillDown.jpg' %}" alt="Admin Tile Missing" width="130" height="130"></a>
</p>

<br>
<img align="bottom" src="{% static 'sponsor2.jpg' %}" alt="Sponsor" width="1170" height="125">
      
</body>
</html>