{% load static %}
<!DOCTYPE html>
<html>
<style>
  div.h1 {
    text-align: center
  }
</style>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Add this code to your Django template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body style="background-color:#DDEBF7;">
  <!-- KMS Start -->
  <div class="container" style="max-width: 100%;">
    <div class="row">
      <div class="col-md-12">
        <p>
          <img style="float: left;" src="{% static 'Finances.jpg' %}" alt="Finances Tile missing" width="100"
            height="100">
        <p style="font-size:12px">
          &nbsp&nbsp&nbsp&nbsp<a href="FTAcministration/" style="color:blue">Support</a>&nbsp&nbsp
          <a href="FTAcministration/" style="color:blue">Suggestions</a>&nbsp&nbsp
          <a href="FTAcministration/" style="color:blue">Service Requests</a>&nbsp&nbsp
          <a href="FTAcministration/" style="color:blue">Contact Us</a>&nbsp&nbsp
          <a href="FTAcministration/" style="color:blue">About</a>&nbsp&nbsp
          <a href="FTAcministration/" style="color:blue">Help</a>&nbsp&nbsp
          <img style="float: right;" src="{% static 'HeaderRight.jpg' %}" alt="Login Tile" width="100" height="100">
        </p>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </a>
        <img class="family" src="{% static 'FamilyName.jpg' %}" alt="Family Name" width="400" height="150">
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">

        <!--KMS 7/3  <p> -->
        <!--KMS 7/3  <h2>Family Accounts</h2> -->
        <!--KMS 7/3  <a href="{% url 'LoginRegister:LoginRegister' %}" style="color:blue">Cash In</a><br> -->
        <!--KMS 7/3  <a href="{% url 'LoginRegister:LoginRegister' %}" style="color:blue">Cash Out</a><br> -->
        <!--KMS 7/3  <a href="{% url 'LoginRegister:LoginRegister' %}" style="color:blue">What We Own</a><br> -->
        <!--KMS 7/3  <a href="{% url 'LoginRegister:LoginRegister' %}" style="color:blue">Debts</a><br> -->
        <!--KMS 7/3  <a href="{% url 'LoginRegister:LoginRegister' %}" style="color:blue">Networth</a><br> -->
        <!--KMS 7/3  <a href="{% url 'LoginRegister:LoginRegister' %}" style="color:blue">Grouping Drill Down</a><br> -->
        <!--KMS 7/3  <a href="{% url 'LoginRegister:LoginRegister' %}" style="color:blue">Account Drill Down</a><br> -->
      </div>
      <div class="<!-- col-md-4 -->">
        <table>
          <thead>
            <tr>
              <th>Account Number</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for cashinacctm in cashinacctms_paginated %}
            <tr>
              <td>{{ cashinacctm.AccountNumber }}</td>
              <td>{{ cashinacctm.Description }}</td>
              <td>
                <!-- <a class="add-button" href="{% url 'LoginRegister:FTFinances' %}">Add</a> -->
                <a href="{% url 'LoginRegister:cashinacctm_delete' cashinacctm.id %}" class="btn btn-danger">Delete</a>
                <a href="#" data-id="{{ cashinacctm.id }}" data-account="{{ cashinacctm.AccountNumber }}"
                  data-description="{{ cashinacctm.Description }}" class="btn btn-secondary edit-button">Edit</a>

              </td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="3" class="text-center">
                <a class="add-button btn btn-info" href="#">Add</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <span class="step-links">
            {% if cashinacctms_paginated.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ cashinacctms_paginated.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
              Page {{ cashinacctms_paginated.number }} of {{ cashinacctms_paginated.paginator.num_pages }}.
            </span>

            {% if cashinacctms_paginated.has_next %}
            <a href="?page={{ cashinacctms_paginated.next_page_number }}">next</a>
            <a href="?page={{ cashinacctms_paginated.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      </div>
      <!-- Add modal -->
      <div class="md-4">
        <div id="addModal" class="modal">
          <div class="modal-content">
            <span class="close">&times</span>
            <h2>{{ title }}</h2>

            <form action="{% url 'LoginRegister:FTFinances' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.AccountNumber.id_for_label }}">Account Number</label>
                {{ form.AccountNumber }}
              </div>
              <div class="form-group">
                <label for="{{ form.Description.id_for_label }}">Description</label>
                {{ form.Description }}
              </div>
              {% if form.errors or form.non_field_errors %}
              <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
              </div>
              {% endif %}
              <button type="submit"
                class="mt-6 mb-6 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <!-- Edit modal -->
      <div class="md-4">
        <div id="editModal" class="modal">
          <div class="modal-content">
            <span class="close">&times</span>

            <h2>{{ title }}</h2>
            <form id="editForm" action="" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.AccountNumber.id_for_label }}">Account Number</label>
                {{ form.AccountNumber }}
              </div>
              <div class="form-group">
                <label for="{{ form.Description.id_for_label }}">Description</label>
                {{ form.Description }}
              </div>
              {% if form.errors or form.non_field_errors %}
              <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
              </div>
              {% endif %}
              <button type="submit"
                class="mt-6 mb-6 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
            </form>

          </div>
        </div>
      </div>

    </div>

    <br>
    </p>
    <p>FTFinances.html</p>
    <p>Back To <a href="{% url 'LoginRegister:FTMainMenu' %}">Main Menu</a></p>
    <!-- KMS 7/3 -->
    <!-- <p>To Finances Main Menu <a href="{% url 'LoginRegister:FTFinancesMenu' %}"></a></p> -->

    <br>
    <img class="sponsor" src="{% static 'sponsor2.jpg' %}" alt="Sponsor" width="1170" height="125">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/child.js' %}"></script>
  <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.edit-button').click(function (e) {
        e.preventDefault();

        let accountId = $(this).data('id');
        let accountNumber = $(this).data('account');
        let accountDescription = $(this).data('description');

        // Fill the form with data
        $('#editForm input[name="AccountNumber"]').val(accountNumber);
        $('#editForm input[name="Description"]').val(accountDescription);

        // Update form's action attribute
        // Assuming your URL for updating account is '/update_account/<id>'
        $('#editForm').attr('action', '/financesacct_update/update/' + accountId + '/');

        // Show the modal
        $('#editModal').show();
      });

      // Close the modal when 'close' span is clicked
      $('.close').click(function () {
        $('#editModal').hide();
      });
    });
  </script>

</body>

</html>