{% load static %}
<!DOCTYPE html>
<html>

<body style="background-color:#DDEBF7;">
<!-- KMS Start -->
<p>
    <img style="float: left;" src="{% static 'Grocery.jpg' %}" alt="To Do'a Tile missing" width="100" height="100">
    <p style="font-size:12px" >
        &nbsp&nbsp&nbsp&nbsp<a href="FTGrocery/" style="color:blue">Support</a>&nbsp&nbsp
        <a href="FTAcministration/" style="color:blue">Suggestions</a>&nbsp&nbsp
        <a href="FTAcministration/" style="color:blue">Service Requests</a>&nbsp&nbsp
        <a href="FTAcministration/" style="color:blue">Contact Us</a>&nbsp&nbsp
        <a href="FTAcministration/" style="color:blue">About</a>&nbsp&nbsp
        <a href="FTAcministration/" style="color:blue">Help</a>&nbsp&nbsp
        <img style="float: right;" src="{% static 'HeaderRight.jpg' %}" alt="Login Tile" width="100" height="100">
    </p>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </a>
    <img style="float: center;" src="{% static 'FamilyName.jpg' %}" alt="Family Name" width="400" height="150">
</p>
<!-- KMS End -->

<h1>This will be the Grocery  Splash Page</h1>

<br>

<!-- <p>Back to <a href="{% url 'LoginRegister:LoginRegister' %}">Login</a></p> -->
<p>Back to <a href="{% url 'LoginRegister:FTMainMenu' %}">Main Menu</a></p>
<br>
<img align="bottom" src="{% static 'sponsor.jpg' %}" alt="Sponsor" width="1170" height="125">

</body>
</html>