{% extends 'base.html' %}
{% load static %}

{% block title %}List & Chores{% endblock %}

{% block pageimage %}
<img style="float: left;" src="{% static 'ListChores.jpg' %}" alt="To Do'a Tile Missing" width="100" height="100">
{% endblock %}

{% block backurl %}{%url 'LoginRegister:FTMainMenu'%}{% endblock %}

{% block content %}
<div class="h1">
  <a style="color:rgb(6, 6, 192)">
    <p style="font-size:40px">
      <h2>List & Chores</h2>
    </p>
  </a>
</div>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="<!-- col-md-4 -->">
    <table>
      <thead>
        <tr>
          <th style="text-align: center;">List</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center; white-space: nowrap;">
            <!-- <a class="add-button" href="{% url 'LoginRegister:FTFinances' %}">Add</a> -->
            <a href="#" class="btn btn-primary" style="border-top: 3px solid red; border-bottom: 3px solid red; border-left: 3px solid red; border-radius: 0%; margin-right: -5px;">New</a>
            <a href="#" class="btn btn-primary edit-button" style="border: 3px solid red; border-radius: 0%; margin: 0;">Existing</a>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <a class="add-button btn btn-info" href="#">Add</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Add modal -->
  <div class="md-4">
    <div id="addModal" class="modal">
      <div class="modal-content">
        <span class="close">&times</span>
        <h2>{{ title }}</h2>

        <form action="{% url 'LoginRegister:FTFinances' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.AccountNumber.id_for_label }}">Account Number</label>
            {{ form.AccountNumber }}
          </div>
          <div class="form-group">
            <label for="{{ form.Description.id_for_label }}">Description</label>
            {{ form.Description }}
          </div>
          {% if form.errors or form.non_field_errors %}
          <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
          </div>
          {% endif %}
          <button type="submit"
            class="mt-6 mb-6 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Edit modal -->
  <div class="md-4">
    <div id="editModal" class="modal">
      <div class="modal-content">
        <span class="close">&times</span>

        <h2>{{ title }}</h2>
        <form id="editForm" action="." method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.AccountNumber.id_for_label }}">Account Number</label>
            {{ form.AccountNumber }}
          </div>
          <div class="form-group">
            <label for="{{ form.Description.id_for_label }}">Description</label>
            {{ form.Description }}
          </div>
          {% if form.errors or form.non_field_errors %}
          <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
          </div>
          {% endif %}
          <button type="submit"
            class="mt-6 mb-6 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
        </form>

      </div>
    </div>
  </div>

</div>
{% endblock %}