{% load static %}
<!DOCTYPE html>
<html>
<body style="background-color:#DDEBF7;">

<h1>Hello World!</h1>
<p>Welcome to my Family Tracker Login!</p>

<img src="{% static 'HeaderLeft.jpg' %}">
<img src="{% static 'HeaderRight.jpg' %}">
<img src="{% static 'Finances.jpg' %}">
<img src="{% static 'calendar.jpg' %}">
<img src="{% static 'ToDos.jpg' %}">
<img src="{% static 'ListChores.jpg' %}">
<img src="{% static 'FamilyTracks.jpg' %}">
<img src="{% static 'FitnessSports.jpg' %}">
<img src="{% static 'Grocery.jpg' %}">
<img src="{% static 'Administration.jpg' %}">

</body>
</html>