{% load static %}
<!DOCTYPE html>
<html>

<body style="background-color:#DDEBF7;">

<p>
<img style="float: left;" src="{% static 'MainMenu.jpg' %}" alt="Main Menu Tile missing" width="100" height="100">
<p style="font-size:12px" >
    &nbsp&nbsp&nbsp&nbsp<a href="FTAcministration/" style="color:blue">Support</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">Suggestions</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">Service Requests</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">Contact Us</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">About</a>&nbsp&nbsp
    <a href="FTAcministration/" style="color:blue">Help</a>&nbsp&nbsp
    <img style="float: right;" src="{% static 'HeaderRight.jpg' %}" alt="Login Tile" width="100" height="100">
</p>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</a>
<img style="float: center;" src="{% static 'FamilyName.jpg' %}" alt="Family Name" width="400" height="150">
</p>
<br>

<p style="text-align:center">
    <a href="{% url 'LoginRegister:FTFinances' %}"><img src="{% static 'Finances.jpg' %}" alt="Finances Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTCalendar' %}"><img src="{% static 'calendar.jpg' %}" alt="Calendar Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTToDos' %}"><img src="{% static 'ToDos.jpg' %}" alt="To Do's Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTListChores' %}"><img src="{% static 'ListChores.jpg' %}" alt="To Do's Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTFamilyTracks' %}"><img src="{% static 'FamilyTracks.jpg' %}" alt="To Do's Tile Missing" width="130" height="130"></a>
</p>
        
<!-- <p style="text-align:center"> -->
<!-- <a href="{% url 'LoginRegister:FTFinances' %}"><img src="{% static 'Finances.jpg' %}" alt="Finances Tile Missing" width="130" height="130"></a> -->
<!-- <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a> -->
<!-- <a href="FTCalendar/"><img src="{% static 'calendar.jpg' %}" alt="Calendar Tile Missing" width="130" height="130"></a> -->
<!-- <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a> -->
<!-- <a href="FTToDos/"><img src="{% static 'ToDos.jpg' %}" alt="To Do's Tile Missing" width="130" height="130"></a> -->
<!-- <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a> -->
<!-- <a href="FTListChores/"><img src="{% static 'ListChores.jpg' %}" alt="List & Chores Tile Missing" width="130" height="130"></a> -->
<!-- <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a> -->
<!-- <a href="FTFamilyTracks/"><img src="{% static 'FamilyTracks.jpg' %}" alt="Family Tracks Tile Missing" width="130" height="130"></a> -->
<!-- </p> -->

<p style="text-align:center">
    <a href="{% url 'LoginRegister:FTFitnessSports' %}"><img src="{% static 'FitnessSports.jpg' %}" alt="Fitness Sports Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTGrocery' %}"><img src="{% static 'Grocery.jpg' %}" alt="Grocery Tile Missing" width="130" height="130"></a>
    <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a>
    <a href="{% url 'LoginRegister:FTAcministration' %}"><img src="{% static 'Administration.jpg' %}" alt="Admin Tile Missing" width="130" height="130"></a>
</p>

<!-- <p style="text-align:center"> -->
<!-- Fitness Sports Tile Missing<a href="FTFitnessSports/"><img src="{% static 'FitnessSports.jpg' %}" alt="Fitness Sports Tile Missing" width="130" height="130"></a> -->
<!-- <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a> -->
<!-- <a href="FTGrocery/"><img src="{% static 'Grocery.jpg' %}" alt="Grocery Tile Missing" width="130" height="130"></a> -->
<!-- <a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a> -->
<!-- <a href="FTAcministration/"><img src="{% static 'Administration.jpg' %}" alt="Admin Tile Missing" width="130" height="130"></a> -->
<!-- </p> -->

<br>
<br>
<p>Back to <a href="{% url 'LoginRegister:LoginRegister' %}">Login</a></p>     
<img align="bottom" src="{% static 'sponsor.jpg' %}" alt="Sponsor" width="1170" height="125">
      


</body>
</html>