staticfiles/
db.sqlite3
LoginRegister/migrations/__pycache__/
FamilyTrackerAuth/__pycache__/
LoginRegister/__pycache__/
.vscode/

events/__pycache__/
events/migrations/__pycache__/

Pipfile.lock
members/__pycache__/
familytracks/__pycache__/
members/migrations/__pycache__/
familytracks/migrations/__pycache__/

fitness/__pycache__/
fitness/migrations/__pycache__/
administration/__pycache__/
administration/migrations/__pycache__/
listsplan/__pycache__/
listsplan/migrations/__pycache__/
transactions/__pycache__/
transactions/migrations/__pycache__/
cal/__pycache__/
cal/migrations/__pycache__/
calendar10/__pycache__/
calendar10/migrations/__pycache__/
fitness/templatetags/__pycache__/