db.sqlite3
LoginRegister/migrations/__pycache__/
FamilyTrackerAuth/__pycache__/
LoginRegister/__pycache__/
.vscode/

events/__pycache__/
events/migrations/__pycache__/

Pipfile.lock
members/__pycache__/
familytracks/__pycache__/
members/migrations/__pycache__/
familytracks/migrations/__pycache__/