[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
openpyxl = "*"
reportlab = "*"
django-widget-tweaks = "*"
django-embed-video = "*"

[dev-packages]

[requires]
python_version = "3.11"
