[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
openpyxl = "*"
reportlab = "*"
django-widget-tweaks = "*"
django-embed-video = "*"
pillow = "*"
django-bootstrap-icons = "*"
django-fontawesome = "*"
django-dotenv = "*"
gunicorn = "*"
psycopg2-binary

[dev-packages]

[requires]
python_version = "3.11"
