{% extends 'fitness/base_golf.html' %}
{% load static %}
{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Add Golf Course</h2>
      </p>
    </a>
  </div>
</p>
{% if submitted %}
    Course Added Successfully

{% else %}

    <form action="" method=POST>
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-sm-1">
                <input type="text" class="form-control" id="Hole1Par" placeholder="#1">
                <input type="text" class="form-control" id="Hole2Par" placeholder="#2">
                <input type="text" class="form-control" id="Hole3Par" placeholder="#3">
            </div>
        </div>
        {{ form.as_p }}

        <input type="submit" value="Add Course" class="btn btn-secondary">

    </form>

{% endif %}

{% endblock %}
