{% extends 'fitness/base.html' %}
{% load static %}
{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Add Workout To Database</h2>
      </p>
    </a>
  </div>
</p>
<br/>
{% if submitted %}
    Your Workout Was Added Successfully

{% else %}

    <form action="" method=POST>
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Add Workout" class="btn btn-secondary">

    </form>

{% endif %}

{% endblock %}