{% extends 'fitness/baseex.html' %}
{% load static %}

{% block pageTitle %}
{% endblock %}
{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Excercises</h2>
      </p>
    </a>
  </div>
</p>
<br/>
<center>
  <table style="width:100%" class="table table-bordered table-striped table-hover">
    <th class="table-primary"><h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp All Excercises</h4></th>
    {% for excercise in excer_p %}
      <tr class="table-secondary table-active">
        <td ><a href="{% url 'fitness:show_excercise' excercise.id %}">{{ excercise.Reference }}&nbsp&nbsp:&nbsp&nbsp{{ excercise.Region }}&nbsp&nbsp==>&nbsp&nbsp{{ excercise.Area }}&nbsp&nbsp==>&nbsp&nbsp{{ excercise.Exercise }}... This is ID..{{ excercise.id }}</a></td>
      </tr>
    {% endfor %}
  </table> 
</center>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  
  {% if excer_p.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ excer_p.previous_page_number }}">Previous</a></li>
  {% endif %}
  
  {% for i in nums %}
      <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
  {% endfor %}
  
  {% if excer_p.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ excer_p.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ excer_p.paginator.num_pages }}">Last &raquo</a></li>
  {% endif %}
  
  </ul>
  </nav>
  

{% endblock %}
