{% extends 'fitness/base_golf.html' %}
{% load static %}

{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Capture Golf Round</h2>
      </p>
    </a>
  </div>
</p>

<!-- {% if submitted %} -->
    <!-- Score Added Successfully -->
<!-- {% else %} -->
    <!-- <form action="" method=POST> -->
        <!-- {% csrf_token %} -->
        <!-- <div class="row g-3"> -->
            <!-- <div class="col-md-8"> -->
                <!-- {{ form.GolfCourse}} -->
            <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="row g-3"> -->
          <!-- <div class="col-md-4"> -->
              <!-- {{ form.Player2 }} -->
              <!-- {{ form.Player3 }} -->
              <!-- {{ form.Player4 }}  -->
          <!-- </div> -->
        <!-- </div> -->
    
        <!-- <div class="row mt-2"> -->
          <!-- <div class="col-md-6"> -->
            <!-- Input fields for Yards for Scores 1-9 -->
            <!-- <div style="display: flex; flex-direction: row;"> -->
              <!-- <div style="display: flex; align-items: center;">Hole</div> -->
                <!-- <label class="hole_nbr" for="{{ form.Hole1Par.id_for_label }}">#1</label> -->
                <!-- <label class="hole_nbr" for="{{ form.Hole2Par.id_for_label }}">#2</label> -->
                <!-- <label class="hole_nbr" for="{{ form.Hole3Par.id_for_label }}">#3</label> -->
                <!-- <label class="hole_nbr" for="{{ form.Hole4Par.id_for_label }}">#4</label> -->
                <!-- <label class="hole_nbr" for="{{ form.Hole5Par.id_for_label }}">#5</label> -->
                <!-- <label class="hole_nbr" for="{{ form.Hole6Par.id_for_label }}">#6</label> -->
                <!-- <label class="hole_nbr" for="{{ form.Hole7Par.id_for_label }}">#7</label> -->
                <!-- <label class="hole_nbr" for="{{ form.Hole8Par.id_for_label }}">#8</label> -->
                <!-- <label class="hole_nbr" for="{{ form.Hole9Par.id_for_label }}">#9</label> -->
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->

        <!-- <div class="col-md-6"> -->
            <!-- Inp class="hole_nbr"ut fields for Yards for Holes 10-18 -->
            <!-- <div style="display: flex; flex-direction: row;"> -->
              <!-- <label class="hole_nbr" for="{{ form.Hole10Yardage.id_for_label }}" style="text-align: center;">#10</label> -->
              <!-- <label class="hole_nbr" for="{{ form.Hole11Yardage.id_for_label }}">#11</label> -->
              <!-- <label class="hole_nbr" for="{{ form.Hole12Yardage.id_for_label }}">#12</label> -->
              <!-- <label class="hole_nbr" for="{{ form.Hol13Yardage.id_for_label }}">#13</label> -->
              <!-- <label class="hole_nbr" for="{{ form.Hole14Yardage.id_for_label }}">#14</label> -->
              <!-- <label class="hole_nbr" for="{{ form.Hole15Yardage.id_for_label }}">#15</label> -->
              <!-- <label class="hole_nbr" for="{{ form.Hole16Yardage.id_for_label }}">#16</label> -->
              <!-- <label class="hole_nbr" for="{{ form.Hole17Yardage.id_for_label }}">#17</label> -->
              <!-- <label class="hole_nbr" for="{{ form.Hole18Yardage.id_for_label }}">#18</label> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </form> -->
    <!-- {% endif %} -->

<!-- X X X X X<<<< C O P Y   S T A R T S  H E R E  >>>>X X X X X X -->

{% if submitted %}
    Score Added Successfully

{% else %}

    <form action="" method=POST>
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-8">
                {{ form.GolfCourse }}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <!-- Input fields for Yards for Holes 1-9 -->
                <div style="display: flex; flex-direction: row;">
                     <!-- <div style="display: flex; align-items: center;">Hole</div> -->
                    <label class="hole_nbr" for="{{ form.Hole1Par.id_for_label }}">#1</label>
                    <label class="hole_nbr" for="{{ form.Hole2Par.id_for_label }}">#2</label>
                    <label class="hole_nbr" for="{{ form.Hole3Par.id_for_label }}">#3</label>
                    <label class="hole_nbr" for="{{ form.Hole4Par.id_for_label }}">#4</label>
                    <label class="hole_nbr" for="{{ form.Hole5Par.id_for_label }}">#5</label>
                    <label class="hole_nbr" for="{{ form.Hole6Par.id_for_label }}">#6</label>
                    <label class="hole_nbr" for="{{ form.Hole7Par.id_for_label }}">#7</label>
                    <label class="hole_nbr" for="{{ form.Hole8Par.id_for_label }}">#8</label>
                    <label class="hole_nbr" for="{{ form.Hole9Par.id_for_label }}">#9</label>
                </div>
             </div>

            <div class="col-md-6">
                <!-- Inp class="hole_nbr"ut fields for Yards for Holes 10-18 -->
                <div style="display: flex; flex-direction: row;">
                    <label class="hole_nbr" for="{{ form.Hole10Par.id_for_label }}" style="text-align: center;">#10</label>
                    <label class="hole_nbr" for="{{ form.Hole11Par.id_for_label }}">#11</label>
                    <label class="hole_nbr" for="{{ form.Hole12Par.id_for_label }}">#12</label>
                    <label class="hole_nbr" for="{{ form.Hole13Par.id_for_label }}">#13</label>
                    <label class="hole_nbr" for="{{ form.Hole14Par.id_for_label }}">#14</label>
                    <label class="hole_nbr" for="{{ form.Hole15Par.id_for_label }}">#15</label>
                    <label class="hole_nbr" for="{{ form.Hole16Par.id_for_label }}">#16</label>
                    <label class="hole_nbr" for="{{ form.Hole17Par.id_for_label }}">#17</label>
                    <label class="hole_nbr" for="{{ form.Hole18Par.id_for_label }}">#18</label>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <!-- Input fields for Yards for Holes 1-9 -->
                <div style="display: flex; flex-direction: row;">
                    <!-- <div style="display: flex; align-items: center;">Par</div> -->
                        {{ form.Hole1Par }}
                        {{ form.Hole2Par }}
                        {{ form.Hole3Par }}
                        {{ form.Hole4Par }}
                        {{ form.Hole5Par }}
                        {{ form.Hole6Par }}
                        {{ form.Hole7Par }}
                        {{ form.Hole8Par }}
                        {{ form.Hole9Par }}
                </div>
              </div>
            <div class="col-md-6">
                <!-- Input fields for Yards for Holes 10-18 -->
                <div style="display: flex; flex-direction: row;">
                    {{ form.Hole10Par }}
                    {{ form.Hole11Par }}
                    {{ form.Hole12Par }}
                    {{ form.Hole13Par }}
                    {{ form.Hole14Par }}
                    {{ form.Hole15Par }}
                    {{ form.Hole16Par }}
                    {{ form.Hole17Par }}
                    {{ form.Hole18Par }}
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <!-- Input fields for Yards for Holes 1-9 -->
                <div style="display: flex; flex-direction: row;">
                    {{ form.Hole1Score }}
                    {{ form.Hole2Score }}
                    {{ form.Hole3Score }}
                    {{ form.Hole4Score }}
                    {{ form.Hole5Score }}
                    {{ form.Hole6Score }}
                    {{ form.Hole7Score }}
                    {{ form.Hole8Score }}
                    {{ form.Hole9Score }}
                </div>
            </div>    
            <div class="col-md-6">
                <!-- Input fields for Yards for Holes 10-18 -->
                <div style="display: flex; flex-direction: row;">
                    {{ form.Hole10Score }}
                    {{ form.Hole11Score }}
                    {{ form.Hole12Score }}
                    {{ form.Hole13Score }}
                    {{ form.Hole14Score }}
                    {{ form.Hole15Score }}
                    {{ form.Hole16Score }}
                    {{ form.Hole17Score }}
                    {{ form.Hole18Score }}
                </div>
            </div>
        </div>
      <!-- <div class="row mt-2"> -->
          <!-- <div class="col-md-6"> -->
              <!-- Input fields for Handicaps for Holes 1-9 -->
              <!-- <div style="display: flex; flex-direction: row;"> -->
                <!-- <div style="display: flex; align-items: center;">Hcp</div>{{ form.Hole1Handicap }} -->
                <!-- {{ form.Hole2Handicap }} -->
                <!-- {{ form.Hole3Handicap }} -->
                <!-- {{ form.Hole4Handicap }} -->
                <!-- {{ form.Hole5Handicap }} -->
                <!-- {{ form.Hole6Handicap }} -->
                <!-- {{ form.Hole7Handicap }} -->
                <!-- {{ form.Hole8Handicap }} -->
                <!-- {{ form.Hole9Handicap }} -->
              <!-- </div> -->
          <!-- </div> -->
          <!-- <div class="col-md-6"> -->
              <!-- Input fields for Handicaps for Holes 10-18 -->
              <!-- <div style="display: flex; flex-direction: row;"> -->
                <!-- {{ form.Hole10Handicap }} -->
                <!-- {{ form.Hole11Handicap }} -->
                <!-- {{ form.Hole12Handicap }} -->
                <!-- {{ form.Hole13Handicap }} -->
                <!-- {{ form.Hole14Handicap }} -->
                <!-- {{ form.Hole15Handicap }} -->
                <!-- {{ form.Hole16Handicap }} -->
                <!-- {{ form.Hole17Handicap }} -->
                <!-- {{ form.Hole18Handicap }} -->
              <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- <input type="submit" value="Add Course" class="btn btn-secondary mt-2" style="float: left;"> -->

    </form>

{% endif %}


{% endblock %}
{% block modal-script %}
<script>
  $(document).ready(function() {
      $('#id_GolfCourse').change(function() {
          var golfCourseId = $(this).val();
          if (golfCourseId) {
            console.log(golfCourseId);
              $.ajax({
                  url: '{% url "fitness:show_golf_course" golf_course_id=0 %}'.replace('0', golfCourseId),
                  type: 'GET',
                  dataType: 'json',
                  success: function(data) {
                      // Update form fields with fetched data
                      $('#id_Hole1Par').val(data.Hole1Par);
                      $('#id_Hole2Par').val(data.Hole2Par);
                      $('#id_Hole3Par').val(data.Hole3Par);
                      $('#id_Hole4Par').val(data.Hole4Par);
                      $('#id_Hole5Par').val(data.Hole5Par);
                      $('#id_Hole6Par').val(data.Hole6Par);
                      $('#id_Hole7Par').val(data.Hole7Par);
                      $('#id_Hole8Par').val(data.Hole8Par);
                      $('#id_Hole9Par').val(data.Hole9Par);
                      $('#id_Hole10Par').val(data.Hole10Par);
                      $('#id_Hole11Par').val(data.Hole11Par);
                      $('#id_Hole12Par').val(data.Hole12Par);
                      $('#id_Hole13Par').val(data.Hole13Par);
                      $('#id_Hole14Par').val(data.Hole14Par);
                      $('#id_Hole15Par').val(data.Hole15Par);
                      $('#id_Hole16Par').val(data.Hole16Par);
                      $('#id_Hole17Par').val(data.Hole17Par);
                      $('#id_Hole18Par').val(data.Hole18Par);
                      // Add other fields here
                  },
                  error: function(xhr, status, error) {
                      console.error(error);
                  }
              });
          }
      });
  });
  </script>  
{% endblock %}
