{% extends 'fitness/base.html' %}
{% load static %}

{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>{{ workout }}</h2>
      </p>
    </a>
  </div>
</p>

<table class="table table-bordered">
    <tr class="table-primary table-active" style="height:12px">
        <th scope="col">Area</th>
        <th scope="col">Excercise</th>
        <th scope="col">#1 Reps</th>
        <th scope="col">#1 Weight</th>
        <th scope="col">#2 Reps</th>
        <th scope="col">#2 Weight</th>
        <th scope="col">#3 Reps</th>
        <th scope="col">#3 Weight</th>
        <th scope="col">#4 Reps</th>
        <th scope="col">#4 Weight</th>
    </tr>
    <tr class="table-light table-active">
        <!-- <td>{{ workout.Region }}</td> -->
        <td>{{ workout.Area }}</td>
        <td>{{ workout.Exercise }}</td> 
        <td>{{ workout.SetOneReps }}</td>
        <td>{{ workout.SetOneWeight }}</td> 
        <td>{{ workout.SetTwoReps }}</td>
        <td>{{ workout.SetTwoWeight }}</td> 
        <td>{{ workout.SetThreeReps }}</td>
        <td>{{ workout.SetThreeWeight }}</td>  
        <td>{{ workout.SetFourReps }}</td>
        <td>{{ workout.SetFourWeight }}</td>
    </tr>
    <tr class="table-secondary table-active">
        <!-- <td>{{ workout.Region }}</td> -->
        <td>{{ workout.Area }}</td>
        <td>{{ workout.Exercise }}</td> 
        <td>{{ workout.SetOneReps }}</td>
        <td>{{ workout.SetOneWeight }}</td> 
        <td>{{ workout.SetTwoReps }}</td>
        <td>{{ workout.SetTwoWeight }}</td> 
        <td>{{ workout.SetThreeReps }}</td>
        <td>{{ workout.SetThreeWeight }}</td>  
        <td>{{ workout.SetFourReps }}</td>
        <td>{{ workout.SetFourWeight }}</td>
    </tr>    
    <tr class="table-light table-active">
        <!-- <td>{{ workout.Region }}</td> -->
        <td>{{ workout.Area }}</td>
        <td>{{ workout.Exercise }}</td> 
        <td>{{ workout.SetOneReps }}</td>
        <td>{{ workout.SetOneWeight }}</td> 
        <td>{{ workout.SetTwoReps }}</td>
        <td>{{ workout.SetTwoWeight }}</td> 
        <td>{{ workout.SetThreeReps }}</td>
        <td>{{ workout.SetThreeWeight }}</td>  
        <td>{{ workout.SetFourReps }}</td>
        <td>{{ workout.SetFourWeight }}</td>
    </tr>    
    <tr class="table-secondary table-active">
        <!-- <td>{{ workout.Region }}</td> -->
        <td>{{ workout.Area }}</td>
        <td>{{ workout.Exercise }}</td> 
        <td>{{ workout.SetOneReps }}</td>
        <td>{{ workout.SetOneWeight }}</td> 
        <td>{{ workout.SetTwoReps }}</td>
        <td>{{ workout.SetTwoWeight }}</td> 
        <td>{{ workout.SetThreeReps }}</td>
        <td>{{ workout.SetThreeWeight }}</td>  
        <td>{{ workout.SetFourReps }}</td>
        <td>{{ workout.SetFourWeight }}</td>
    </tr>    
    <tr class="table-light table-active">
        <!-- <td>{{ workout.Region }}</td> -->
        <td>{{ workout.Area }}</td>
        <td>{{ workout.Exercise }}</td> 
        <td>{{ workout.SetOneReps }}</td>
        <td>{{ workout.SetOneWeight }}</td> 
        <td>{{ workout.SetTwoReps }}</td>
        <td>{{ workout.SetTwoWeight }}</td> 
        <td>{{ workout.SetThreeReps }}</td>
        <td>{{ workout.SetThreeWeight }}</td>  
        <td>{{ workout.SetFourReps }}</td>
        <td>{{ workout.SetFourWeight }}</td>
    </tr>    
    <tr class="table-secondary table-active">
        <!-- <td>{{ workout.Region }}</td> -->
        <td>{{ workout.Area }}</td>
        <td>{{ workout.Exercise }}</td> 
        <td>{{ workout.SetOneReps }}</td>
        <td>{{ workout.SetOneWeight }}</td> 
        <td>{{ workout.SetTwoReps }}</td>
        <td>{{ workout.SetTwoWeight }}</td> 
        <td>{{ workout.SetThreeReps }}</td>
        <td>{{ workout.SetThreeWeight }}</td>  
        <td>{{ workout.SetFourReps }}</td>
        <td>{{ workout.SetFourWeight }}</td>
    </tr>    
    <tr class="table-light table-active">
        <!-- <td>{{ workout.Region }}</td> -->
        <td>{{ workout.Area }}</td>
        <td>{{ workout.Exercise }}</td> 
        <td>{{ workout.SetOneReps }}</td>
        <td>{{ workout.SetOneWeight }}</td> 
        <td>{{ workout.SetTwoReps }}</td>
        <td>{{ workout.SetTwoWeight }}</td> 
        <td>{{ workout.SetThreeReps }}</td>
        <td>{{ workout.SetThreeWeight }}</td>  
        <td>{{ workout.SetFourReps }}</td>
        <td>{{ workout.SetFourWeight }}</td>
    </tr>    
    <tr class="table-secondary table-active">
        <!-- <td>{{ workout.Region }}</td> -->
        <td>{{ workout.Area }}</td>
        <td>{{ workout.Exercise }}</td> 
        <td>{{ workout.SetOneReps }}</td>
        <td>{{ workout.SetOneWeight }}</td> 
        <td>{{ workout.SetTwoReps }}</td>
        <td>{{ workout.SetTwoWeight }}</td> 
        <td>{{ workout.SetThreeReps }}</td>
        <td>{{ workout.SetThreeWeight }}</td>  
        <td>{{ workout.SetFourReps }}</td>
        <td>{{ workout.SetFourWeight }}</td>
    </tr>    
</table>
{% endblock %}
