{% extends 'fitness/baseroutine.html' %}
{% load static %}
{% block pageTitle %}
{% endblock %}
{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Training Routines</h2>
      </p>
    </a>
  </div>
</p>
<br/>
<center>
<table style="width:50%" class="table table-bordered table-striped table-hover">
    <th class="table-primary">
        <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAll Routines</h4>
    </th>
    {% for routine in routine_p %}
        <tr class="table-secondary table-active">
            <td><a href="{% url 'fitness:show_routine' routine.id %}">{{ routine.RoutineName }}</a></td>
        </tr>
    {% endfor %}
</table>
</center>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
  
        {% if excer_p.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ routine_p.previous_page_number }}">Previous</a></li>
        {% endif %}
  
        {% for i in nums %}
             <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}
  
        {% if excer_p.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ routine_p.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ routine_p.paginator.num_pages }}">Last &raquo</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
