<!doctype html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/4086785d0f.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
{% load static %}
{% include 'familytracks/modals.html' %}
<body style="background-color:#DDEBF7;">
    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0f496f;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'familytracks:main_landing_page' %}">TRAXX</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'familytracks:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'familytracks:profiles_list' %}">Profile List</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'members:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'members:main_menu_login' %}">Login</a>
                    </li>
                    {% endif %}

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Download
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Download Text File</a></a></li>
                          <li><a class="dropdown-item" href="#">Download CSV File</a></li>
                          <li><a class="dropdown-item" href="#">Download PDF File</a></li>
                        </ul>
                      </li>
                
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Support
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#Supp1" data-bs-toggle="modal">Support</a></li>
                            <li><a class="dropdown-item" href="#Sugg1" data-bs-toggle="modal">Suggestions</a></li>
                            <li><a class="dropdown-item" href="#Serv1" data-bs-toggle="modal">Service Requests</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Search
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'familytracks:search' %}">Search Pips</a></li>
                          <li><a class="dropdown-item" href="{% url 'familytracks:search_user' %}">Search User</a></li>
                        </ul>
                      </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Communication Tutorials
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#tutorial1">Overview</a></li>
                          <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#tutorial1">How to Post a Meep</a></li>
                          <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#tutorial2">How to Search Topics</a></li>
                          <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#tutorial3">How to Follow Someone</a></li>
                          <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#tutorial3">How to Block Someone</a></li>
                          <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#tutorial3">How to Integrate With Facebook</a></li>
                          <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#tutorial3">How to Integrate with Instagram</a></li>
                          <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#tutorial3">How to Integrate with the "X" Platform</a></li>
                          <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#tutorial3">How to Setup Social Media Security</a></li>
                        </ul>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link active" href="#About1" data-bs-toggle="modal">About</a>
                      </li>
                
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'LoginRegister:FTMainMenu' %}">Main Menu</a>
                      </li>
                </ul>

                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-link navbar-brand">
                        <a href="{% url 'familytracks:profile' request.user.id %}">
                            {% if user.profile.profile_image %}
                            <img src="{{ user.profile.profile_image.url }}" class="rounded-circle" width=30 height=30>
                            {% else %}
                            <img src="{% static 'images/default_profile_pic.png' %}" class="img-fluid rounded-circle"
                                alt="Profile Image" width=30 height=30>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="container-fluid mt-4">
        <div class="row" style="margin: 0 5px;">
            <!-- Left Margin Advertising -->
            <div class="col-md-2 order-md-1 order-2" style="text-align: left;">

                <!-- Spot 1 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#exampleModal" data-bs-toggle="modal">
                        <img src="{% static 'Soc1vB.jpg' %}" style="height: 95%;" alt="AdvSpot1" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 2 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad2Modal" data-bs-toggle="modal">
                        <img src="{% static 'Soc2.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 3 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad3Modal" data-bs-toggle="modal">
                        <img src="{% static 'Soc3.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 4 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad3Modal" data-bs-toggle="modal">
                        <img src="{% static 'Soc4.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>


            </div>
            <!-- Center Open Area -->
            <!-- <div class="col-md-8" style="text-align: center;"> -->
            <div class="col-md-8 order-md-2 order-1">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>

            <!-- Right Margin Advertising -->
            <div class="col-md-2 order-md-3 order-3" style="text-align: right;">

                <!-- Spot 4 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad4Modal" data-bs-toggle="modal">
                        <img src="{% static 'Soc5.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 5 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad5Modal" data-bs-toggle="modal">
                        <img src="{% static 'Soc6.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 6 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad6Modal" data-bs-toggle="modal">
                        <img src="{% static 'Soc7.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 7 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad6Modal" data-bs-toggle="modal">
                        <img src="{% static 'Soc8.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </main>

    <!-- <footer class="mt-8 text-center"> -->
        <!-- Spot 7 -->
        <!-- <div style="background-color: #DDEBF7;" class="d-flex flex-column"> -->
            <!-- <a href="#ad7Modal" data-bs-toggle="modal"> -->
                <!-- <img class="sponsor img-fluid" src="{% static 'AdvSpot5B.jpg'%}" alt="Sponsor"> -->
            <!-- </a> -->
        <!-- </div> -->
    <!-- </footer> -->

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->

</body>

</html>