body {
    overflow-x: hidden;
}

.family {
    margin: auto;
}

.sponsor {
    width: 100%;
}
.container {
    padding: 0;
    overflow-x: hidden;
}

table {
    margin-top: 20px;
    /* border-collapse: collapse; */
    width: 100%;
    border: 2px solid #2258a8!important;
}
th, td {
    padding: 8px;
    text-align: left;
    /* border: 1px solid #924040; */
}
th {
    background-color: #213186;
    color: #fff;
}

/* .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* KMA 10/15 */
.modal-header.primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #064072;
}

/* Start Here */
.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal2-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* End Here */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-backdrop {
    z-index: 10;
} */

.listheaderbuttons {
    background-color: #213186;
    color: #fff;
    margin-right: 2px;
}

.ads {
    /* max-width: 70%!important; */
}

.pagination {
    display: flex;
    justify-content: center;
}

.step-links {
    margin: 10px;
}

.forms .batch_form,
.forms .upload_form {
    display: inline-block;
    vertical-align: top; /* To align them vertically to the top if they have different heights */
}

/* Cal styles */
.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

/* ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
} */
/* 
a {
  color: #17a2b8;
} */
.left {
  float: left;
}

.right {
  float: right;
}
/* .btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
} */

.clearfix-event {
  margin: 0 15px 15px 0;
}
.clearfix {
  margin: 15px;
}

.form {
  margin: auto;
}

.form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

.calendar-btn {
  margin-bottom: 15px;
}

.hole_nbr {
  width: 10.5%;
  text-align: end;
}

.placeholder {
  font-size: 11px;
}