<!-- Modal Overview -->
<div class="modal fade" id="Overview" tabindex="-1" aria-labelledby="OverviewLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="OverviewLabel">Overview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                This will be an overview of the Communication application. 
            </div>
        </div>
    </div>
</div>

<!-- Modal Trivia -->
<div class="modal fade" id="Trivia" tabindex="-1" aria-labelledby="TriviaLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="TriviaLabel">Trivia of the Day</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                This mythical creature is the national animal of Scotland
                <br><br>
                Answer: Unicorn
                <br><br><br>
                What is the most haunted state in the U.S. in terms of ghost sightings?
                <br><br>
                Answer: Texax
                <br><br><br>
                On an average day, how long does an employee spend looking for lost files or other items?
                <br><br>
                Answer: 12.6 miles
                <br><br>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Modal Hint -->
  <div class="modal fade" id="Hint" tabindex="-1" aria-labelledby="HintLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="TriviaLabel">Hint of the Day</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                To conduct effective meetings, you need to:<br><br>
                1. Define the meeting objectives and create an agenda.<br>
                2. Send calendar invites and establish the type of meeting.<br>
                3. Create a safe space for collaboration and strategically choose attendees.<br>
                4. Appoint important roles such as facilitator, timekeeper, and note-taker.<br>
                5. Start and end on time and stay on track with the agenda.<br><br>
            </div>
        </div>
    </div>
  </div>




<!-- Modal Supp1 -->
<div class="modal fade" id="Supp1" tabindex="-1" aria-labelledby="Supp1Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="Supp1Label">Support: 24-hours/day 365-days/year!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                TRAXX refuses to accept anything short of a delighted member. If we can help in any way, or
                you run into issues, please feel free to contact us at "kirk.shelton@BallantyneTechnologyGroup.com" 
                and we will respond via email, or contact you at your convenience. Our intent is to constantly 
                improve and make TRAXX the premier Individual Resource & Communication Management Solution available 
                on the internet today.
                <br><br>TRAXX will always be free for all our members and incredibly easy to use with rich feature
                and functionality. Thank you for your continued support and for using TRAXX and spreading the word.
                We appreciate all feedback!
                <br><br>Kirk Shelton<br>Founder & CEO
            </div>
        </div>
    </div>
</div>

<!-- Modal Sugg1 -->
<div class="modal fade" id="Sugg1" tabindex="-1" aria-labelledby="Sugg1Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="Sugg1Label">Thoughts? Help us Make Family Tracker Better</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Family Tracker welcomes thoughts and suggestions.<br><br>Please feel free to call: (704)
                607-4291.<br> Or, Email us: "kirk.shelton@BallantyneTechnologyGroup.com"<br><br>We will answer all
                calls or contact you at your convenience.<br><br>Thank you for your continued support and using
                Family Tracker.<br><br>We appreciate all feedback!
                <br><br>Kirk Shelton<br>Founder & CEO
            </div>
        </div>
    </div>
</div>

<!-- Modal Serv1 -->
<div class="modal fade" id="Serv1" tabindex="-1" aria-labelledby="Serv1Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="Serv1Label">Enter a Service Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                <br>If you run into any issues, or just have a Navigation or Feature question, please feel free to
                call:<br>(704) 607-4291<br><br>Alternatively, Email us:
                "kirk.shelton@BallantyneTechnologyGroup.com"<br><br>Please include the following in your Email:<br>
                1. Preference to be called or Email Response<br> 2. Issue or question short description<br> 3. Issue
                or question full description, including navigation<br> 4. How long you have been experiencing the
                issue<br> 5. Best time to call if that is your preference<br><br>We will answer all calls or contact
                you at your convenience.<br><br>Thank you for your continued support and using Family Tracker.
                <br><br>Kirk Shelton<br>Founder & CEO
            </div>
        </div>
    </div>
</div>

<!-- Modal About1 -->
<div class="modal fade" id="About1" tabindex="-1" aria-labelledby="About1Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="About1Label">A Story of Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                The TRAXX Resource & Communication Management System was created by Kirk Shelton
                the founder and Managing Principal of "Cliffs Software Solutions" (CSS). Kirk has
                extensive experience building and managing startup technology concerns and
                the innovative use of technology to develop and deliver exceptional value to clients.
                His experience includes business development, successfully delivering large, complex,
                multi-disciplined projects, developing and delivering custom software solutions
                and integrations, and building feature rich extensions to enhance existing platform
                software solutions.<br>
                M.B.A. Economics and Finance, Honors, Wayne State University, Detroit, MI<br>
                B.S. Management Information Systems, Honors, Oakland University, Rochester Hills, MI
                <br><br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                The CSS Board of Advisors Includes: Edward J. Sanz, Michael Onak, Rui Sousa, and Lisa Shelton.
                <br><br>
                Edward J. Sanz, CFA, CTP<br>
                Managing Partner, ABTV<br>
                Mr. Sanz is a senior finance and restructuring professional with over thirty years
                of experience as a CFO, interim manager, and financial consultant to business owners,
                boards of directors and senior management in the U.S. and abroad. He manages a
                consulting firm that advises companies requiring transformation or solving complex
                financial and operational problems.<br>He began his career in commercial lending and
                public accounting and has since been in senior financial management roles and an
                dvisor to business owners, company management and boards of directors. Mr. Sanz
                has authored articles for industry journals and chapters of the Turnaround Management
                Association's Body of Knowledge and has spoken on a number of related topics. He
                currently serves on the Board of the Carolinas Chapter of the Turnaround Management
                Association (TMA) where he was also a past President. He also served on the
                Board of Trustees of TMA Global, where he chaired the Certification Oversight
                Committee which oversees the administration of the Certified Turnaround Professional
                (CTP) designation.
                Mr. Sanz graduated from the University of Virginia with a Bachelor of Science in
                Commerce and received his Master's in Business Administration with honors from
                Emory University. He holds Chartered Financial Analyst (CFA) and Certified Turnaround
                Professional (CTP) designations.<br><br>
                Michael Onak<br>
                Senior Partner (retired)<br>
                Ernst & Young LLP
                Michael Onak ran the Banking Consulting practice in the Americas. He has been in
                professional services for over 30 years focused primarily on the Financial Services
                Industry. Michael has served E&Y's largest clients and built and grown large consulting
                practices. He has held many Americas and global leadership positions at E&Y.<br>
                Mr. Onak Graduated from Northern Illinois University with a Bachelor of Science Degree
                <br><br>
                Rui Sousa<br>
                Lead Engineer & Software Development Manager, Cliffs Software Solutions, LLC
                In addition to being an international advisor to Cliffs Software Solutions, Mr. Sousa
                is a talented, experienced software developer with extensive Python, Django, and Java
                Script experience. He has been integral to the early development of TRAXX with a
                strong emphasis on best practices, object orientation and reusability.<br>
                B.A. Computer Science, University of Cabo Verde, Praia Cabo Verde
                <br><br>
                Lisa Shelton<br>
                Lisa is an experienced IT and Accounting professional having run multiple IT and
                Accounting departments. She has been successful in multiple enterprise package selections
                and implementations. Lisa brings the "Practical Magic" to TRAXX with a heavy emphasis
                on the user interface, simplicity and useability.<br>
                M.B.A. University of Detroit, Detroit, MI<br>
                B.S. Accouting, Nothwood University, Midland, MI<br><br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                CSS CORE VALUES:
                <br><br>
                SERVICE & CUSTOMER ORIENTATION: Incredibly easy to do business with. Simple straight
                forward pricing and service offerings. Being service-minded or customer-oriented means that
                we care about providing a quality experience to the clients we serve. This value extends to
                supporting our community and our associates. Valuing service means that we aim to provide a
                meaningful experience to the people we serve and support.<br><br>
                INTEGRITY: Valuing integrity in the workplace means that we strive to do the right thing,
                even when we know no one else is looking. CSS highly values honesty, transparency and a
                commitment to doing what is best for our clients, teammates, and company. The growth of a
                company follows the professional growth of its employees. Valuing growth
                means that we have the drive to continuously improve both ourselves and our company. Growth
                is based on mutual success. CSS is a company that develops its staff and provides an
                environment that fosters personal and professional development.<br><br>
                ACCOUNTABILITY: Is a willingness to accept and embrace responsibility for one's actions
                and the impact on the enterprise.<br><br>
                INNOVATION: Challenging ourselves to see what is possible to better meet the needs of
                fellow associates, clients and company. CSS will always be a work in progress, striving to
                improve and do better, thinking of creative ways to solve tough problems and take calculated
                risks. Finding new ways to solve a problem can help the company move forward.<br><br>
                CREATIVITY AND TENACITY: The un-relenting use of our creative or original ideas, particularly
                in the creation of high-value software solutions and professional services for our clients.
            </div>
        </div>
    </div>
</div>

<!-- Modal SponNote -->
<div class="modal fade" id="SponNote" tabindex="-1" aria-labelledby="SponNoteLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="SponNoteLabel">A Note to Our Sponsors</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                This will be a note to our current sponsors (Advertisers) on TRAXX
            </div>
        </div>
    </div>
</div>

<!-- Modal PotSponNote -->
<div class="modal fade" id="PotSponNote" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="PotSponNoteLabel">A Note to Our Potential Sponsors</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                This will be a note to our potential sponsors (Advertisers) on TRAXX
            </div>
        </div>
    </div>
</div>

<!-- Modal Trivia -->
<div class="modal fade" id="Trivia" tabindex="-1" aria-labelledby="TriviaLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="TriviaLabel">Trivia of the Day</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                This will be an interesting piece of Trivia specific to communications and social media           
            </div>
        </div>
    </div>
</div>

<!-- Modal Hint -->
<div class="modal fade" id="Hint" tabindex="-1" aria-labelledby="HintLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="TriviaLabel">Hint of the Day</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                This will be a helpful hint specific to communications and social media           
            </div>
        </div>
    </div>
</div>

<!-- Modal Tutorial #1 -->
<div class="modal fade" id="ComTut1" tabindex="-1" aria-labelledby="ComTut1Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ComTut1Label">How to Post a Meep</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Describe how to post a meep           
            </div>
        </div>
    </div>
</div>

<!-- Modal Tutorial #2 -->
<div class="modal fade" id="ComTut2" tabindex="-1" aria-labelledby="ComTut2Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ComTut2Label">How to Search Topics</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Describe how to search topics         
            </div>
        </div>
    </div>
</div>

<!-- Modal Tutorial #3 -->
<div class="modal fade" id="ComTut3" tabindex="-1" aria-labelledby="ComTut3Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ComTut3Label">How to Follow Someone</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Describe to follow someone         
            </div>
        </div>
    </div>
</div>

<!-- Modal Tutorial #4 -->
<div class="modal fade" id="ComTut4" tabindex="-1" aria-labelledby="ComTut4Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ComTut4Label">How to Block Someone</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Describe how to block someone         
            </div>
        </div>
    </div>
</div>

<!-- Modal Tutorial #5 -->
<div class="modal fade" id="ComTut5" tabindex="-1" aria-labelledby="ComTut5Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ComTut5Label">How to Integrate With Facebook</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Describe how to integrate with Facebook        
            </div>
        </div>
    </div>
</div>

<!-- Modal Tutorial #6 -->
<div class="modal fade" id="ComTut6" tabindex="-1" aria-labelledby="ComTut6Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ComTut6Label">How to Integrate with Instagram</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Describe how to integrate with Instagram        
            </div>
        </div>
    </div>
</div>

<!-- Modal Tutorial #7 -->
<div class="modal fade" id="ComTut7" tabindex="-1" aria-labelledby="ComTut7Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ComTut7Label">How to Integrate with the "X" Platform</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Describe how to integrate with the "X" platform        
            </div>
        </div>
    </div>
</div>

<!-- Modal Tutorial #8 -->
<div class="modal fade" id="ComTut8" tabindex="-1" aria-labelledby="ComTut8Label" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ComTut8Label">How to Setup Social Media Security</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                Describe how to setup social media security
            </div>
        </div>
    </div>
</div>
<a href="#ad1Modal" data-bs-toggle="modal">

<!-- CommAdSpot1 -->
<div class="modal fade" id="ad1Modal" tabindex="-1" aria-labelledby="ad1Modal" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ad1Modal">Communication: Sponsor Position #1 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEXAMPLE SPONSOR MESSAGE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                WHO WE ARE<br>
                Stellar Audio + Video is a full-service home automation and technology integrator serving South Carolina, North Carolina, and Georgia. Whether you’re considering a video conferencing installation in your boardroom or a custom home theater, we offer the solutions that work for your home and business.<br><br>
                We’re thankful for the trust that our clients put in us, and we strive to return that trust by providing the best service the AV industry has to offer. We’re not interested in selling you the latest gadgets and most expensive technology. We want to help you build a system that will work for your lifestyle, and we will be there for you even after we complete the installation.<br><br>                        
                Whether you’ve experienced the fun and convenience of smart automation before or you’re building your very first system, we’ll help guide you to the right solutions for your home or business. We design our systems for comfort, protection, entertainment, and simplicity -- and we’re never more than a phone call away to help you achieve those goals.                       
                If you’re looking for a technology partner that gives you honest answers, user-friendly resources, and better service than you’ll find at a big box store, we’re happy to welcome you to the Stellar Family.<br><br>                        
                OUR MISSION - To prosper our team, clients, and community.<br><br>                        
                OUR VISION - Continually improving through strategic advancement of our processes, markets, and technologies.<br><br>                        
                OUR VALUES<br>
                Integrity - We always tell the truth and are quick to admit our mistakes. We do what we say.<br>
                Loyalty - We are committed to prospering each other, our families, and the community.<br>
                Communication - We seek first to understand, then to be understood. We speak plainly and directly.<br>
                Stewardship - We accept responsibility in our work as if the time, resources, and property were our own.<br><br>
                Contact - Web "StellarAV.com" or Phone - (999) 999-9999<br>             
                PROMO CODE:  TRAXX01<br>                
            </div>
        </div>
    </div>
</div>

<!-- CommAdSpot2 -->
<div class="modal fade" id="ad2Modal" tabindex="-1" aria-labelledby="ad2Modal" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ad2Modal">Communication: Sponsor Position #2 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEXAMPLE SPONSOR MESSAGE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                WHO WE ARE<br>
                Stellar Audio + Video is a full-service home automation and technology integrator serving South Carolina, North Carolina, and Georgia. Whether you’re considering a video conferencing installation in your boardroom or a custom home theater, we offer the solutions that work for your home and business.<br><br>
                We’re thankful for the trust that our clients put in us, and we strive to return that trust by providing the best service the AV industry has to offer. We’re not interested in selling you the latest gadgets and most expensive technology. We want to help you build a system that will work for your lifestyle, and we will be there for you even after we complete the installation.<br><br>                        
                Whether you’ve experienced the fun and convenience of smart automation before or you’re building your very first system, we’ll help guide you to the right solutions for your home or business. We design our systems for comfort, protection, entertainment, and simplicity -- and we’re never more than a phone call away to help you achieve those goals.                       
                If you’re looking for a technology partner that gives you honest answers, user-friendly resources, and better service than you’ll find at a big box store, we’re happy to welcome you to the Stellar Family.<br><br>                        
                OUR MISSION - To prosper our team, clients, and community.<br><br>                        
                OUR VISION - Continually improving through strategic advancement of our processes, markets, and technologies.<br><br>                        
                OUR VALUES<br>
                Integrity - We always tell the truth and are quick to admit our mistakes. We do what we say.<br>
                Loyalty - We are committed to prospering each other, our families, and the community.<br>
                Communication - We seek first to understand, then to be understood. We speak plainly and directly.<br>
                Stewardship - We accept responsibility in our work as if the time, resources, and property were our own.<br><br>
                Contact - Web "StellarAV.com" or Phone - (999) 999-9999<br>             
                PROMO CODE:  TRAXX01<br>                
            </div>
        </div>
    </div>
</div>

<!-- CommAdSpot3 -->
<div class="modal fade" id="ad3Modal" tabindex="-1" aria-labelledby="ad3Modal" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ad3Modal">Communication: Sponsor Position #3 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEXAMPLE SPONSOR MESSAGE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                WHO WE ARE<br>
                Stellar Audio + Video is a full-service home automation and technology integrator serving South Carolina, North Carolina, and Georgia. Whether you’re considering a video conferencing installation in your boardroom or a custom home theater, we offer the solutions that work for your home and business.<br><br>
                We’re thankful for the trust that our clients put in us, and we strive to return that trust by providing the best service the AV industry has to offer. We’re not interested in selling you the latest gadgets and most expensive technology. We want to help you build a system that will work for your lifestyle, and we will be there for you even after we complete the installation.<br><br>                        
                Whether you’ve experienced the fun and convenience of smart automation before or you’re building your very first system, we’ll help guide you to the right solutions for your home or business. We design our systems for comfort, protection, entertainment, and simplicity -- and we’re never more than a phone call away to help you achieve those goals.                       
                If you’re looking for a technology partner that gives you honest answers, user-friendly resources, and better service than you’ll find at a big box store, we’re happy to welcome you to the Stellar Family.<br><br>                        
                OUR MISSION - To prosper our team, clients, and community.<br><br>                        
                OUR VISION - Continually improving through strategic advancement of our processes, markets, and technologies.<br><br>                        
                OUR VALUES<br>
                Integrity - We always tell the truth and are quick to admit our mistakes. We do what we say.<br>
                Loyalty - We are committed to prospering each other, our families, and the community.<br>
                Communication - We seek first to understand, then to be understood. We speak plainly and directly.<br>
                Stewardship - We accept responsibility in our work as if the time, resources, and property were our own.<br><br>
                Contact - Web "StellarAV.com" or Phone - (999) 999-9999<br>             
                PROMO CODE:  TRAXX01<br>                
            </div>
        </div>
    </div>
</div>

<!-- CommAdSpot4 -->
<div class="modal fade" id="ad4Modal" tabindex="-1" aria-labelledby="ad4Modal" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ad4Modal">Communication: Sponsor Position #4 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEXAMPLE SPONSOR MESSAGE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                WHO WE ARE<br>
                Stellar Audio + Video is a full-service home automation and technology integrator serving South Carolina, North Carolina, and Georgia. Whether you’re considering a video conferencing installation in your boardroom or a custom home theater, we offer the solutions that work for your home and business.<br><br>
                We’re thankful for the trust that our clients put in us, and we strive to return that trust by providing the best service the AV industry has to offer. We’re not interested in selling you the latest gadgets and most expensive technology. We want to help you build a system that will work for your lifestyle, and we will be there for you even after we complete the installation.<br><br>                        
                Whether you’ve experienced the fun and convenience of smart automation before or you’re building your very first system, we’ll help guide you to the right solutions for your home or business. We design our systems for comfort, protection, entertainment, and simplicity -- and we’re never more than a phone call away to help you achieve those goals.                       
                If you’re looking for a technology partner that gives you honest answers, user-friendly resources, and better service than you’ll find at a big box store, we’re happy to welcome you to the Stellar Family.<br><br>                        
                OUR MISSION - To prosper our team, clients, and community.<br><br>                        
                OUR VISION - Continually improving through strategic advancement of our processes, markets, and technologies.<br><br>                        
                OUR VALUES<br>
                Integrity - We always tell the truth and are quick to admit our mistakes. We do what we say.<br>
                Loyalty - We are committed to prospering each other, our families, and the community.<br>
                Communication - We seek first to understand, then to be understood. We speak plainly and directly.<br>
                Stewardship - We accept responsibility in our work as if the time, resources, and property were our own.<br><br>
                Contact - Web "StellarAV.com" or Phone - (999) 999-9999<br>             
                PROMO CODE:  TRAXX01<br>                
            </div>
        </div>
    </div>
</div>

<!-- CommAdSpot5 -->
<div class="modal fade" id="ad5Modal" tabindex="-1" aria-labelledby="ad5Modal" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ad5Modal">Communication: Sponsor Position #5 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEXAMPLE SPONSOR MESSAGE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                WHO WE ARE<br>
                Stellar Audio + Video is a full-service home automation and technology integrator serving South Carolina, North Carolina, and Georgia. Whether you’re considering a video conferencing installation in your boardroom or a custom home theater, we offer the solutions that work for your home and business.<br><br>
                We’re thankful for the trust that our clients put in us, and we strive to return that trust by providing the best service the AV industry has to offer. We’re not interested in selling you the latest gadgets and most expensive technology. We want to help you build a system that will work for your lifestyle, and we will be there for you even after we complete the installation.<br><br>                        
                Whether you’ve experienced the fun and convenience of smart automation before or you’re building your very first system, we’ll help guide you to the right solutions for your home or business. We design our systems for comfort, protection, entertainment, and simplicity -- and we’re never more than a phone call away to help you achieve those goals.                       
                If you’re looking for a technology partner that gives you honest answers, user-friendly resources, and better service than you’ll find at a big box store, we’re happy to welcome you to the Stellar Family.<br><br>                        
                OUR MISSION - To prosper our team, clients, and community.<br><br>                        
                OUR VISION - Continually improving through strategic advancement of our processes, markets, and technologies.<br><br>                        
                OUR VALUES<br>
                Integrity - We always tell the truth and are quick to admit our mistakes. We do what we say.<br>
                Loyalty - We are committed to prospering each other, our families, and the community.<br>
                Communication - We seek first to understand, then to be understood. We speak plainly and directly.<br>
                Stewardship - We accept responsibility in our work as if the time, resources, and property were our own.<br><br>
                Contact - Web "StellarAV.com" or Phone - (999) 999-9999<br>             
                PROMO CODE:  TRAXX01<br>                
            </div>
        </div>
    </div>
</div>

<!-- CommAdSpot6 -->
<div class="modal fade" id="ad6Modal" tabindex="-1" aria-labelledby="ad6Modal" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ad6Modal">Communication: Sponsor Position #6 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEXAMPLE SPONSOR MESSAGE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                WHO WE ARE<br>
                Stellar Audio + Video is a full-service home automation and technology integrator serving South Carolina, North Carolina, and Georgia. Whether you’re considering a video conferencing installation in your boardroom or a custom home theater, we offer the solutions that work for your home and business.<br><br>
                We’re thankful for the trust that our clients put in us, and we strive to return that trust by providing the best service the AV industry has to offer. We’re not interested in selling you the latest gadgets and most expensive technology. We want to help you build a system that will work for your lifestyle, and we will be there for you even after we complete the installation.<br><br>                        
                Whether you’ve experienced the fun and convenience of smart automation before or you’re building your very first system, we’ll help guide you to the right solutions for your home or business. We design our systems for comfort, protection, entertainment, and simplicity -- and we’re never more than a phone call away to help you achieve those goals.                       
                If you’re looking for a technology partner that gives you honest answers, user-friendly resources, and better service than you’ll find at a big box store, we’re happy to welcome you to the Stellar Family.<br><br>                        
                OUR MISSION - To prosper our team, clients, and community.<br><br>                        
                OUR VISION - Continually improving through strategic advancement of our processes, markets, and technologies.<br><br>                        
                OUR VALUES<br>
                Integrity - We always tell the truth and are quick to admit our mistakes. We do what we say.<br>
                Loyalty - We are committed to prospering each other, our families, and the community.<br>
                Communication - We seek first to understand, then to be understood. We speak plainly and directly.<br>
                Stewardship - We accept responsibility in our work as if the time, resources, and property were our own.<br><br>
                Contact - Web "StellarAV.com" or Phone - (999) 999-9999<br>             
                PROMO CODE:  TRAXX01<br>                
            </div>
        </div>
    </div>
</div>

<!-- CommAdSpot7 -->
<div class="modal fade" id="ad7Modal" tabindex="-1" aria-labelledby="ad7Modal" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ad7Modal">Communication: Sponsor Position #7 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEXAMPLE SPONSOR MESSAGE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                WHO WE ARE<br>
                Stellar Audio + Video is a full-service home automation and technology integrator serving South Carolina, North Carolina, and Georgia. Whether you’re considering a video conferencing installation in your boardroom or a custom home theater, we offer the solutions that work for your home and business.<br><br>
                We’re thankful for the trust that our clients put in us, and we strive to return that trust by providing the best service the AV industry has to offer. We’re not interested in selling you the latest gadgets and most expensive technology. We want to help you build a system that will work for your lifestyle, and we will be there for you even after we complete the installation.<br><br>                        
                Whether you’ve experienced the fun and convenience of smart automation before or you’re building your very first system, we’ll help guide you to the right solutions for your home or business. We design our systems for comfort, protection, entertainment, and simplicity -- and we’re never more than a phone call away to help you achieve those goals.                       
                If you’re looking for a technology partner that gives you honest answers, user-friendly resources, and better service than you’ll find at a big box store, we’re happy to welcome you to the Stellar Family.<br><br>                        
                OUR MISSION - To prosper our team, clients, and community.<br><br>                        
                OUR VISION - Continually improving through strategic advancement of our processes, markets, and technologies.<br><br>                        
                OUR VALUES<br>
                Integrity - We always tell the truth and are quick to admit our mistakes. We do what we say.<br>
                Loyalty - We are committed to prospering each other, our families, and the community.<br>
                Communication - We seek first to understand, then to be understood. We speak plainly and directly.<br>
                Stewardship - We accept responsibility in our work as if the time, resources, and property were our own.<br><br>
                Contact - Web "StellarAV.com" or Phone - (999) 999-9999<br>             
                PROMO CODE:  TRAXX01<br>                
            </div>
        </div>
    </div>
</div>

<!-- CommAdSpot8 -->
<div class="modal fade" id="ad8Modal" tabindex="-1" aria-labelledby="ad8Modal" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="ad8Modal">Communication: Sponsor Position #8 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEXAMPLE SPONSOR MESSAGE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                WHO WE ARE<br>
                Stellar Audio + Video is a full-service home automation and technology integrator serving South Carolina, North Carolina, and Georgia. Whether you’re considering a video conferencing installation in your boardroom or a custom home theater, we offer the solutions that work for your home and business.<br><br>
                We’re thankful for the trust that our clients put in us, and we strive to return that trust by providing the best service the AV industry has to offer. We’re not interested in selling you the latest gadgets and most expensive technology. We want to help you build a system that will work for your lifestyle, and we will be there for you even after we complete the installation.<br><br>                        
                Whether you’ve experienced the fun and convenience of smart automation before or you’re building your very first system, we’ll help guide you to the right solutions for your home or business. We design our systems for comfort, protection, entertainment, and simplicity -- and we’re never more than a phone call away to help you achieve those goals.                       
                If you’re looking for a technology partner that gives you honest answers, user-friendly resources, and better service than you’ll find at a big box store, we’re happy to welcome you to the Stellar Family.<br><br>                        
                OUR MISSION - To prosper our team, clients, and community.<br><br>                        
                OUR VISION - Continually improving through strategic advancement of our processes, markets, and technologies.<br><br>                        
                OUR VALUES<br>
                Integrity - We always tell the truth and are quick to admit our mistakes. We do what we say.<br>
                Loyalty - We are committed to prospering each other, our families, and the community.<br>
                Communication - We seek first to understand, then to be understood. We speak plainly and directly.<br>
                Stewardship - We accept responsibility in our work as if the time, resources, and property were our own.<br><br>
                Contact - Web "StellarAV.com" or Phone - (999) 999-9999<br>             
                PROMO CODE:  TRAXX01<br>                
            </div>
        </div>
    </div>
</div>
