<!doctype html>
<html lang="en">
{% load static %}
{% include 'members/modals.html' %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body style="background-color:#DDEBF7;">

    <!-- </head><nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0f496f;">
        <div class="container-fluid">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}

            <a class="navbar-brand" href="#">Family Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'members:register_user' %}">Register</a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Support</a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item active" href="#Supp1" data-bs-toggle="modal">Support</a>
                            </li>
                            <li><a class="dropdown-item active" href="#Sugg1" data-bs-toggle="modal">Suggestions</a>
                            </li>
                            <li><a class="dropdown-item active" href="#Serv1" data-bs-toggle="modal">Service
                                    Requests</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#About1" data-bs-toggle="modal">System Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#About1" data-bs-toggle="modal">About</a>
                    </li>

                </ul>
                <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item active" href="{% url 'events-list' %}">Register Family Members</a>
                    </li>
                    <li><a class="dropdown-item active" href="{% url 'add-event' %}">Assign Security</a></li>
                </ul>
                </li>

                <form class="d-flex" method=POST action="{% url 'search-venues' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search"
                        name="searchedx">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
    </nav>

    <main class="container-fluid mt-4">

        <div class="row" style="margin: 0 5px;">
            <!-- Left Margin Advertising -->
            <div class="col-md-2 order-md-1 order-2" style="text-align: left;">

                <!-- Spot 1 -->
                <div style="background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#exampleModal" data-bs-toggle="modal">
                        <img src="{% static 'AdvSpot1A.jpg' %}" style="height: 95%;" alt="AdvSpot1" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 2 -->
                <div style="background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#ad2Modal" data-bs-toggle="modal">
                        <img src="{% static 'AdvSpot2.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 3 -->
                <div style="background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#ad3Modal" data-bs-toggle="modal">
                        <img src="{% static 'AdvSpot3.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

            </div>
            <!-- Center Open Area -->
            <!-- <div class="col-md-8" style="text-align: center;"> -->
            <div class="col-md-8 order-md-2 order-1 mb-2 style="text-align: left; background: hsl(235, 7%, 66%);">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Right Margin Advertising -->
            <div class="col-md-2 order-md-3 order-3" style="text-align: right;">

                <!-- Spot 4 -->
                <div style="background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#ad4Modal" data-bs-toggle="modal">
                        <img src="{% static 'AdvSpot4.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 5 -->
                <div style="background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#ad5Modal" data-bs-toggle="modal">
                        <img src="{% static 'AdvSpot05.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

                <!-- Spot 6 -->
                <div style="background-color: #DDEBF7;" class="d-flex flex-column mb-3">
                    <a href="#ad6Modal" data-bs-toggle="modal">
                        <img src="{% static 'AdvSpot6.jpg' %}" style="height: 95%;" alt="Advpot2" class="img-fluid">
                    </a>
                </div>

            </div>
        </div>
    </main>

    <footer class="mt-8 text-center">
        <!-- Spot 7 -->
        <div style="background-color: #DDEBF7;">
            <a href="#ad7Modal" data-bs-toggle="modal">
                <img class="sponsor img-fluid" src="{% static 'AdvSpot5B.jpg'%}" style="width: 1450px" alt="Sponsor">
            </a>
        </div>
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->

</body>

</html>