{% extends 'members/base.html' %}
{% load static %}

{% block pageTitle %}
{% endblock %}
{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <h2>Main Menu Login</h2>
      </p>
    </a>
  </div>
</p>
</br>
  &nbsp&nbsp&nbsp&nbsp<img src="{% static 'LoginFin.jpg' %}" alt="Finances Tile Missing" width="130" height="130">
  &nbsp&nbsp&nbsp&nbsp
  <img src="{% static 'LoginCal.jpg' %}" alt="Calendar Tile Missing" width="130" height="130">
  &nbsp&nbsp&nbsp
  <img src="{% static 'LoginLists.jpg' %}" alt="To Do's Tile Missing" width="130" height="130">
  &nbsp&nbsp&nbsp
  <img src="{% static 'LoginTracks.jpg' %}" alt="To Do's Tile Missing" width="130" height="130">
  &nbsp&nbsp&nbsp
  <img src="{% static 'LoginFit.jpg' %}" alt="Fitness Sports Tile Missing" width="130" height="130">
  &nbsp&nbsp&nbsp
  <img src="{% static 'LoginAdm.jpg' %}" alt="Admin Tile Missing" width="130" height="130">
</p>
      
<form action="" method=POST>
    {% csrf_token %}   
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" style="width: 30%;">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" style="width: 30%;">
    </div>

  <input type="submit" value="Login" class="btn btn-secondary">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a>No username? Register here its free and easy</a>&nbsp&nbsp&nbsp&nbsp<button type="button" class="btn btn-secondary">Register</button>

</form>

{% endblock %}
