{% load static %}

<!-- ************************************************* -->
<!-- ********************* CONTENTS ****************** -->
<!-- ************************************************* -->
<!-- *                                               * -->
<!-- * Like all "base.html" templates for each       * -->
<!-- * application, this template is organized into  * -->
<!-- * 3 Sections:                                   * -->
<!-- *    1. Initialization,                         * -->
<!-- *    2. Menu Bar & Navigation, and              * -->
<!-- *    3. Advertising                             * -->
<!-- *                                               * -->
<!-- ************************************************* -->

<!-- ************************************************* -->
<!-- ***************** INITIALIZATION **************** -->
<!-- ************************************************* -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | FamilyTracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<!-- ************************************************* -->
<!-- ************* MENU BAR & NAVIGATION ************* -->
<!-- ************************************************* -->

<body style="background-color:#DDEBF7;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0f496f;">
            <div class="container-fluid">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <a class="navbar-brand" href="#">TRAXX</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Support
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#Supp1Label" data-bs-toggle="modal">Support</a></li>
                            <li><a class="dropdown-item" href="#Sugg1" data-bs-toggle="modal">Suggestions</a></li>
                            <li><a class="dropdown-item" href="#Serv1" data-bs-toggle="modal">Service Requests</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            System Tutorials
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#Overview" data-bs-toggle="modal">Overview</a></li>
                            <li><a class="dropdown-item" href="#Finances" data-bs-toggle="modal">Finances</a></li>
                            <li><a class="dropdown-item" href="#Calendar" data-bs-toggle="modal">Calendar</a></li>
                            <li><a class="dropdown-item" href="#ListsPlanning" data-bs-toggle="modal">Lists & Planning</a></li>
                            <li><a class="dropdown-item" href="#Communication" data-bs-toggle="modal">Communication</a></li>
                            <li><a class="dropdown-item" href="#FitnessSports" data-bs-toggle="modal">Fitness & Sports</a></li>
                            <li><a class="dropdown-item" href="#Administration" data-bs-toggle="modal">Administration</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#About1" data-bs-toggle="modal">About</a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sponsors
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#SponNote" data-bs-toggle="modal">A Note to Our Sponsors</a></li>
                            <li><a class="dropdown-item" href="#PotSponNote" data-bs-toggle="modal">A Note to Our Potential Sponsors</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'members:logout' %}">Logout</a>
                    </li>

                </ul>

        </nav>
    </header>
    <!-- Modal Supp1 -->
    <div class="modal fade" id="Supp1Label" tabindex="-1" aria-labelledby="Supp1Label" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="exampleModalLabel">Support: 24-hours/day 365-days/year!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    TRAXX refuses to accept anything short of a delighted member. If we can help in any way, or
                    you run into issues, please feel free to contact us at "support@css-traxx.com" and we will respond via email, or contact you at your
                    convenience.  Our intent is to constantly improve and make TRAXX the premier Individual Resource & Communication Management Solution available on the internet today.
                    <br><br>TRAXX will always be free for all our members and incredibly easy to use with rich feature and functionality.  Thank you for your continued support and for using TRAXX and spreading the word.  We appreciate all feedback!
                    <br><br>Kirk Shelton<br>Founder & CEO
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Sugg1 -->
    <div class="modal fade" id="Sugg1" tabindex="-1" aria-labelledby="Sugg1Label" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">   
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Sugg1Label">Thoughts? Help us Make Family Tracker Better</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    TRAXX welcomes thoughts and suggestions.  Please Email us at "support@css-traxx.com".  We will respond to all suggestions, or answer any inquiries at your convenience.<br><br>Thank you for your continued support and for using TRAXX.
                    <br><br>Kirk Shelton<br>Founder & CEO
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Serv1 -->
    <div class="modal fade" id="Serv1" tabindex="-1" aria-labelledby="Serv1Label" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Serv1Label">Enter a Service Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <divr class="modal-body">
                    Service Request: Enter Short Description<br>
                    Error or Issue: Enter Details<br>
                    Navigation to Error or Issue:<br>
                    Started Occuring: mm/dd/yyyy<br>
                    Email "support@css-traxx.com"<br>
                    Response Requested: via Email / via Phone Call<br>
                    Response Phone Number:<br>
                    Response Email: <br><br>
                    Our intent is to constantly improve and make TRAXX the premier Individual Resource & Communication Management Solution available on the internet today.
                    <br><br>TRAXX will always be free for all our members and incredibly easy to use with rich feature and functionality.  Thank you for your continued support and for using TRAXX and spreading the word.  We appreciate all feedback!
                    <br><br>Kirk Shelton<br>Founder & CEO
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Overview -->
    <div class="modal fade" id="Overview" tabindex="-1" aria-labelledby="OverviewLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="OverviewLabel">Overview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    TRAXX by Cliffs Software Solutions LLC is an Individual Resource & Communication 
                    Management system.  The system consists of six applications:<br><br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    Finances<br> 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    Calendar<br> 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    Lists & Planning<br> 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    Communication<br> 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    Fitness & Sports, and<br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    Administration.<br><br>
                    The applications are orchestrated to work together, with a similar look, feel 
                    and navigation model.  Each application includes a set of self explanatory tutorials 
                    which describe how to use and get the most out of each appplication.  The 
                    applications are designed to be "ready for use" without extensive configuration.  In 
                    the exceptional case where setup or configuration is required, such as Finances, a 
                    pre-developed model template is provided which may easily be tailored to meet 
                    the needs of the individual user.   
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Finances -->
    <div class="modal fade" id="Finances" tabindex="-1" aria-labelledby="FinancesLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="FinancesLabel">The Finances Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The FINANCES application is a complete individual or household bookkeeping
                    system.<br><br>
                    First one sets up the books.  This includes defining the reports, including the 
                    layouts and rollup lines which will appear on each report.  Then defining the accounts
                    which are used to capture transactions and are then summarized in the rollups for 
                    each financial report.  The system comes pre-seeded with a complete set of reports,
                    rollups and accounts which may simply be tweaked a bit for individual use if so
                    desired.<br><br>
                    Once the Set of Books is prepared and tailored for individual use, you are ready to 
                    begin bookkeeping.  Bank Credit Card Statements can easily be downloaded from the Bank
                    and quickly uploaded into Finances.  Manual enteries may also be entered as needed
                    such as when buying a major asset such as a car or new home, to capture those those
                    transactions in FINANCES as well.  Most commonly however, you will simply be uploading
                    monthly expenses and income.  Periodically, one may post periodic Net Income/Loss to
                    retained earnings.  This will clear current revenue and expenses and move the 
                    summary value to the balance sheet.  Unlike standard Accounting systems, this may
                    be done on one's own schedule, monthly, quarterly, yearly or any period of time 
                    as desired.<br><br>  
                    Reporting may be run at any time.  Available Financial Reports include:<br><br>
                    Income Statement<br>
                    Balance Sheet<br>
                    Cash Flow Statement<br>
                    Expense Analysis<br>
                    Budget Performance<br><br>
                    One may easily Drill-Down to what accounts make up a statement line.  And, for 
                    each account, what transactions constitute the account balance. 
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Calendar -->
    <div class="modal fade" id="Calendar" tabindex="-1" aria-labelledby="CalendarLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="CalendarLabel">The Calendar Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The Calendar application is integrated with Microsoft Outlook, Google Calendar, 
                    and Apple Calendar.  Integration can be configured to be bi-directional, or inbound
                    only.  In this manner, the TRAXX Calendar may be one's central calendaring system with 
                    both personal and professional events all in one place without the need to publish
                    personal events, meetings, and plans.<br><br>
                    TRAXX Calendar includes all standard calendar functionality and allows one to 
                    schedule events and meetings, define venues, and identify event participants.
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal ListsPlanning -->
    <div class="modal fade" id="ListsPlanning" tabindex="-1" aria-labelledby="ListsPlanningLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="ListsPlanningLabel">The Lists & Planning Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The Lists & Planning application serves multiple purposes.  Like all TRAXX applications 
                    Lists & Planning may be easily run on a hand-held device such as a mobile phone.  It is 
                    a trivial matter to create and maintain simple lists such as a Grocery List, Chores, 
                    To-Do's, book lists, journaling and random notes.  Lists may be shared with family members and a single list, may have multiple 
                    authors, or contributors.<br><br>
                    Lists & Planning also supports simple project planning, with defined predecessor/successor 
                    relationships and is perfect for planning vacations, business planning, and personal 
                    development plans.  Planning fully supports the SMART goal method, 
                    where you apply specific, measurable, achievable, relevant and time-bound objectives 
                    to help you reach your goals and track progress.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Communication -->
    <div class="modal fade" id="Communication" tabindex="-1" aria-labelledby="CommunicationLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="CommunicationLabel">The Communication Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The Communication Application is highly secure and controlled social media application 
                    perfect for keeping in touch with Friends and family.  One defines who they want to follow 
                    and stay in touch with.  One may then broadcast text "Meeps" and pictures for followers to 
                    consume.<br><br>
                    Hashtags are also supported.  Hashtags are words or phrases without spaces that 
                    begin with the hashtag symbol (#) and help users find content related to a given 
                    topic. They can be used to group and categorize tweets related to a specific topic, 
                    event, place, theme, thing, verb, or industry term.  One may create their own unique 
                    hashtags for specific campaigns or long-term branding, and make sure they are snappy, 
                    memorable, and not already used or negative.<br><br>
                    Of course, the Communication Application also supports re-meeping which is to re-publish 
                    the meeps of others.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal FitnessSports -->
    <div class="modal fade" id="FitnessSports" tabindex="-1" aria-labelledby="FitnessSportsLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="FitnessSportsLabel">The Fitness & Sports Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The Fitness & Sports Application allows one to define excercises, define workouts, 
                    capture workout performances, and review performances over time to measure progress 
                    and improvement.<br><br>  
                    Workouts may be organized by various attributes such as Upper Body, Lower Body, 
                    Core, Home Workout and Gym workout.<br><br>
                    One may also use the Fitness & Sports Application to capture performances in various 
                    sports such as Golf, Tennis, Pickleball, Mountain BIking, Swimming, Pilates, Yoga, 
                    and running.<br><br>  
                    For each sport, one may define the venue, such as the golf course, capture performances, 
                    and view performances and progress over time.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Administration -->
    <div class="modal fade" id="Administration" tabindex="-1" aria-labelledby="AdministrationLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="AdministrationLabel">The Administration Application</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The Administration Application allows one to define integrations, share Application
                    access with other family members and establish desired security and privacy controls.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal About1 -->
    <div class="modal fade" id="About1" tabindex="-1" aria-labelledby="About1Label" aria-hidden="true">
        <div class="modal-dialog ads modal-xl" style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="About1Label">A Story of Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The TRAXX Resource & Communication Management System was created by Kirk Shelton 
                    the founder and Managing Principal of "Cliffs Software Solutions" (CSS).  Kirk has 
                    extensive experience building and managing startup technology concerns and 
                    the innovative use of technology to develop and deliver exceptional value to clients.  
                    His experience includes business development, successfully delivering large, complex, 
                    multi-disciplined projects, developing and delivering custom software solutions 
                    and integrations, and building feature rich extensions to enhance existing platform 
                    software solutions.<br> 
                    M.B.A. Economics and Finance, Honors, Wayne State University, Detroit, MI<br>
                    B.S. Management Information Systems, Honors, Oakland University, Rochester Hills, MI
                    <br><br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    The CSS Board of Advisors Includes: Edward J. Sanz, Michael Onak, Rui Sousa, and Lisa Shelton.
                    <br><br>
                    Edward J. Sanz, CFA, CTP<br>
                    Managing Partner, ABTV<br>
                    Mr. Sanz is a senior finance and restructuring professional with over thirty years 
                    of experience as a CFO, interim manager, and financial consultant to business owners, 
                    boards of directors and senior management in the U.S. and abroad. He manages a 
                    consulting firm that advises companies requiring transformation or solving complex 
                    financial and operational problems.<br>He began his career in commercial lending and 
                    public accounting and has since been in senior financial management roles and an 
                    advisor to business owners, company management and boards of directors.  Mr. Sanz 
                    has authored articles for industry journals and chapters of the Turnaround Management 
                    Association's Body of Knowledge and has spoken on a number of related topics. He 
                    currently serves on the Board of the Carolinas Chapter of the Turnaround Management
                    Association (TMA) where he was also a past President. He also served on the 
                    Board of Trustees of TMA Global, where he chaired the Certification Oversight 
                    Committee which oversees the administration of the Certified Turnaround Professional 
                    (CTP) designation.
                    Mr. Sanz graduated from the University of Virginia with a Bachelor of Science in 
                    Commerce and received his Master's in Business Administration with honors from 
                    Emory University. He holds Chartered Financial Analyst (CFA) and Certified Turnaround 
                    Professional (CTP) designations.<br><br>
                    Michael Onak<br>
                    Senior Partner (retired)<br>
                    Ernst & Young LLP
                    Michael Onak ran the Banking Consulting practice in the Americas. He has been in 
                    professional services for over 30 years focused primarily on the Financial Services 
                    Industry. Michael has served E&Y's largest clients and built and grown large consulting 
                    practices. He has held many Americas and global leadership positions at E&Y.<br>
                    Mr. Onak Graduated from Northern Illinois University with a Bachelor of Science Degree
                    <br><br>
                    Rui Sousa<br>
                    Lead Engineer & Software Development Manager, Cliffs Software Solutions, LLC
                    In addition to being an international advisor to Cliffs Software Solutions, Mr. Sousa 
                    is a talented, experienced software developer with extensive Python, Django, and Java 
                    Script experience.  He has been integral to the early development of TRAXX with a 
                    strong emphasis on best practices, object orientation and reusability.<br>
                    B.A. Computer Science, University of Cabo Verde, Praia Cabo Verde
                    <br><br>
                    Lisa Shelton<br>
                    Lisa is an experienced IT and Accounting professional having run multiple IT and
                    Accounting departments.  She has been successful in multiple enterprise package selections
                    and implementations.  Lisa brings the "Practical Magic" to TRAXX with a heavy emphasis
                    on the user interface, simplicity and useability.<br>
                    M.B.A. University of Detroit, Detroit, MI<br>
                    B.S. Accouting, Nothwood University, Midland, MI<br><br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    CSS CORE VALUES:
                    <br><br>
                    SERVICE & CUSTOMER ORIENTATION:  Incredibly easy to do business with. Simple straight 
                    forward pricing and service offerings. Being service-minded or customer-oriented means that 
                    we care about providing a quality experience to the clients we serve. This value extends to 
                    supporting our community and our associates. Valuing service means that we aim to provide a 
                    meaningful experience to the people we serve and support.<br><br>  
                    INTEGRITY:  Valuing integrity in the workplace means that we strive to do the right thing, 
                    even when we know no one else is looking. CSS highly values honesty, transparency and a 
                    commitment to doing what is best for our clients, teammates, and company.  The growth of a 
                    company follows the professional growth of its employees.  Valuing growth 
                    means that we have the drive to continuously improve both ourselves and our company. Growth 
                    is based on mutual success.  CSS is a company that develops its staff and provides an 
                    environment that fosters personal and professional development.<br><br>
                    ACCOUNTABILITY:  Is a willingness to accept and embrace responsibility for one's actions 
                    and the impact on the enterprise.<br><br>
                    INNOVATION:  Challenging ourselves to see what is possible to better meet the needs of 
                    fellow associates, clients and company. CSS will always be a work in progress, striving to 
                    improve and do better, thinking of creative ways to solve tough problems and take calculated 
                    risks. Finding new ways to solve a problem can help the company move forward.<br><br>
                    CREATIVITY AND TENACITY:  The un-relenting use of our creative or original ideas, particularly 
                    in the creation of high-value software solutions and professional services for our clients.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal SponNote -->
    <div class="modal fade" id="SponNote" tabindex="-1" aria-labelledby="SponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl" style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="SponNoteLabel">A Note to Our Sponsors</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                        This will be a note to our current sponsors (Advertisers) on TRAXX 
                </div>
            </div>
        </div>
    </div>

    <!-- Modal PotSponNote -->
    <div class="modal fade" id="PotSponNote" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl" style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="PotSponNoteLabel">A Note to Our Potential Sponsors</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                        This will be a note to our potential sponsors (Advertisers) on TRAXX 
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <!-- <script src="{% static 'js/child.js' %}"></script> -->
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    {% block modal-script %}{% endblock %}

<!-- ************************************************* -->
<!-- ****************** ADVERTISING ****************** -->
<!-- ************************************************* -->

<main class="container-fluid mt-4">
    <div class="row" style="margin: 0 5px;">
        <!-- Left Margin Advertising -->
        <div class="col-md-2" style="text-align: left;">

            <!-- Spot 1 -->
            <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                <a href="#exampleModal" data-bs-toggle="modal">
                    <img src="{% static 'MM1.jpg' %}" style="height: 95%;" alt="AdvSpot1">
                </a>
            </div>

            <!-- Spot 2 -->
            <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                <a href="#ad2Modal" data-bs-toggle="modal">
                    <img src="{% static 'MM2.jpg' %}" style="height: 95%;" alt="Advpot2">
                </a>
            </div>

            <!-- Spot 3 -->
            <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                <a href="#ad3Modal" data-bs-toggle="modal">
                    <img src="{% static 'MM3.jpg' %}" style="height: 95%;" alt="Advpot2">
                </a>
            </div>

        </div>
        <!-- Center Open Area -->
        <div class="col-md-8" style="text-align: center;">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Right Margin Advertising -->
        <div class="col-md-2" style="text-align: right;">

            <!-- Spot 4 -->
            <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                <a href="#ad4Modal" data-bs-toggle="modal">
                    <img src="{% static 'MM4.jpg' %}" style="height: 95%;" alt="Advpot2">
                </a>
            </div>

            <!-- Spot 5 -->
            <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                <a href="#ad5Modal" data-bs-toggle="modal">
                    <img src="{% static 'MM5.jpg' %}" style="height: 95%;" alt="Advpot2">
                </a>
            </div>

            <!-- Spot 6 -->
            <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                <a href="#ad6Modal" data-bs-toggle="modal">
                    <img src="{% static 'MM6.jpg' %}" style="height: 95%;" alt="Advpot2">
                </a>
            </div>

        </div>
</main>
<!-- ************* BELOW IS FOR MAIN MENU ONLY ******** -->
    <footer class="mt-4 text-center">
        <!-- Spot 7 -->
        <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
            <a href="#ad7Modal" data-bs-toggle="modal">
                <img class="sponsor" src="{% static 'MM7.jpg' %}" style="height: 200px" alt="Sponsor">
            </a>
        </div>
    </footer>

    <!-- Modal AdvSpot1 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="exampleModalLabel">On-Line Luxury Cars for Less</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Message/Description:</br></br>
                    Contact Information:</br>
                    URL:</br>
                    Promotion Code:</br>
                    Imbedded Audio/Video:</br>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot2 -->
    <div class="modal fade" id="ad2Modal" tabindex="-1" aria-labelledby="ad2ModalLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="ad2ModalLabel">Frank Lloyd Wright Inspired Bathrooms</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Message/Description: Inspired by one of the greatest architects of all time Frank Lloyd Wright. Sleak, modern lines and
                    unparalleled Quality.  We provide design and build services, and a lifetime
                    warranty.</br></br>
                    
                    Contact Information:</br>
                    URL:</br>
                    Promotion Code:</br>
                    Imbedded Audio/Video:</br>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot3 -->
    <div class="modal fade" id="ad3Modal" tabindex="-1" aria-labelledby="ad2ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="ad3ModalLabel">Watch the US Open!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        style="color: white!important;">
                </div>
                <div class="modal-body">
                    Message/Description:  The Worlds Greatest Golfers on one of the foremost tests in Golf... Pebble Beach.</br></br>
                    
                    Contact Information:</br>
                    URL:</br>
                    Promotion Code:</br>
                    Imbedded Audio/Video:</br>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot4 -->
    <div class="modal fade" id="ad4Modal" tabindex="-1" aria-labelledby="ad2ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="ad3ModalLabel">Let Your Voice Be Heard!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Message/Description:  Voting is one of the greatest privileges and responsibilities of being a US
                    citizen.  Irrespective of you political party or affiliation, it's critically important that
                    your voice be heard.<br><br>
                    
                    Contact Information:</br>
                    URL:</br>
                    Promotion Code:</br>
                    Imbedded Audio/Video:</br>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot5 -->
    <div class="modal fade" id="ad5Modal" tabindex="-1" aria-labelledby="ad5ModalLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="ad5ModalLabel">The Best Mattress Money can Buy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Message/Description:  You spend a third of your life on your mattress. It should be a comfortable and healthful
                    experience.  Our hand-crafted matress' are unique in their quality, support, and luxury.<br><br>
                    
                    Contact Information:</br>
                    URL:</br>
                    Promotion Code:</br>
                    Imbedded Audio/Video:</br>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot6 -->
    <div class="modal fade" id="ad6Modal" tabindex="-1" aria-labelledby="ad6ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="ad6ModalLabel">Watch Monday Night Football</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Message/Description:  Extend your weekend, pop some corn, or order some hot wings, grab a cold beverage and Watch Monday
                    Night Football.  Great moments happen on Monday Night Football, the stars of the game, the
                    great plays, and all the excitement!</br></br>

                    Contact Information:</br>
                    URL:</br>
                    Promotion Code:</br>
                    Imbedded Audio/Video:</br>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot7 -->
    <div class="modal fade" id="ad7Modal" tabindex="-1" aria-labelledby="ad7ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="ad7ModalLabel">Paradise Island in the Bahamas!!!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Message/Description:  The name Paradise Island could not be more fitting. Awaiting you here are idyllic beaches, exciting
                    nightlife and popular attractions like Atlantis, the largest resort in the Caribbean, with a casino,
                    water park and aquarium.<br><br>To let you experience an all-inclusive Paradise Island holiday, RIU
                    Hotels & Resorts offers you the Hotel Riu Palace Paradise Island, located on the beachfront of the
                    soft white sand Cove Beach. There you can relax under the warm Caribbean sun, enjoy a pleasant stroll on
                    the shore, or practise different aquatic sports like water skiing, jet ski, windsurfing and kite
                    surfing.<br><br>
                    
                    Contact Information:</br>
                    URL:</br>
                    Promotion Code:</br>
                    Imbedded Audio/Video:</br>
                </div>
            </div>
        </div>
    </div>
<!-- ************************************************* -->
<!-- *********************** END ********************* -->
<!-- ************************************************* -->
</body>
</html>
