{% extends 'base.html' %}
{% load static %}

{% block title %}"What we Owe" Accounts{% endblock %}

{% block pageimage %}
<img style="float: left;" src="{% static 'WhatWeOwe.jpg' %}" alt="What We Owe Tile Missing" width="100" height="100">
{% endblock %}

{% block backurl %}{%url 'LoginRegister:FTDefAcctsMenu'%}{% endblock %}
{% block pageTitle %}
<div class="h1">
  <a style="color:rgb(6, 6, 192)">
    <p style="font-size:40px">
      <h2>"What we Owe" Accounts</h2>
    </p>
  </a>
</div>
{% endblock %}

{% block content %}
  <div>
    <table>
      <thead>
        <tr>
          <th>Account Number</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for liabacctm in liabacctms %}
        <tr>
          <td>{{ liabacctm.AccountNumber }}</td>
          <td>{{ liabacctm.Description }}</td>
          <td>
            <a href="{% url 'LoginRegister:liabacctm_delete' liabacctm.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'LoginRegister:liabacctm_update' liabacctm.id %}"
              class="btn btn-secondary edit-button">Edit</a>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="3" class="text-center">
            <a class="add-button btn btn-info" href="#">Add</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Add modal -->
  <div class="md-6">
    <div id="addModal" class="modal">
      <div class="modal-content">
        <span class="close">&times</span>
        <h2>{{ title }}</h2>

        <form action="{% url 'LoginRegister:FTLiabAccts' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.AccountNumber.id_for_label }}">Account Number</label>
            {{ form.AccountNumber }}
          </div>
          <div class="form-group">
            <label for="{{ form.Description.id_for_label }}">Description</label>
            {{ form.Description }}
          </div>
          {% if form.errors or form.non_field_errors %}
          <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
          </div>
          {% endif %}
          <button type="submit"
            class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Edit modal -->
  <div class="md-4">
    <div id="editModal" class="modal">
      <div class="modal-content">
        <span class="close">&times</span>

        <h2>{{ title }}</h2>
        <form id="editForm" action="." method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.AccountNumber.id_for_label }}">Account Number</label>
            {{ form.AccountNumber }}
          </div>
          <div class="form-group">
            <label for="{{ form.Description.id_for_label }}">Description</label>
            {{ form.Description }}
          </div>
          {% if form.errors or form.non_field_errors %}
          <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
          </div>
          {% endif %}
          <button type="submit"
            class="mt-6 mb-6 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
        </form>

      </div>
    </div>
  </div>
{% endblock %}
