{% extends 'LoginRegister/base.html' %}
{% load static %}
{% block title %}Main Menu{% endblock %}

{% block content %}
<div class="h1">
  <a style="color:rgb(6, 6, 192)">
    <p style="font-size:40px">
      <h2>Main Menu</h2>
    </p>
  </a>
</div>
<br>
<p style="text-align:center">
  <a href="{% url 'transactions:main_landing_page' %}"><img src="{% static 'Finances.jpg' %}" alt="Finances Splash Missing" width="130" height="130"></a>
  <a> &nbsp</a>
  <a href="{% url 'calendar10:main_landing_page' %}"><img src="{% static 'calendar.jpg' %}" alt="Calendar Splash Missing" width="130" height="130"></a>
  <a> &nbsp</a>
  <a href="{% url 'listsplan:main_landing_page' %}"><img src="{% static 'ListsAndPlanning.jpg' %}" alt="Lists & Planning Splash Missing" width="130" height="130"></a>
  <a> &nbsp</a>
  <a href="{% url 'familytracks:main_landing_page' %}"><img src="{% static 'FamilyTracks.jpg' %}" alt="Family Tracks Splash Missing" width="130" height="130"></a>
  <a> &nbsp</a>
  <a href="{% url 'fitness:main_landing_page' %}"><img src="{% static 'FitnessSports.jpg' %}" alt="Fitness Sports Splash Missing" width="130" height="130"></a>
  <a> &nbsp</a>
  <a href="{% url 'administration:main_landing_page' %}"><img src="{% static 'Administration.jpg' %}" alt="Admin Splash Missing" width="130" height="130"></a>
</p>
      

<p style="text-align:center">
  <!-- <a href="{% url 'LoginRegister:FTFitnessSports' %}"><img src="{% static 'FitnessSports.jpg' %}" alt="Fitness Sports Tile Missing" width="130" height="130"></a> -->
</p>

{% endblock %}
