{% extends 'base.html' %}
{% load static %}

{% block title %}Sponsor Advertising Rates{% endblock %}

{% block pageimage %}
<img style="float: left;" src="{% static 'SponsorRateTable.jpg' %}" alt="Cash Out Tile Missing" width="100" height="100">
{% endblock %}

{% block backurl %}{%url 'LoginRegister:FTAcministration'%}{% endblock %}
{% block pageTitle %}
<div class="h1">
  <a style="color:rgb(6, 6, 192)">
    <p style="font-size:40px">
      <h2>Sponsor Advertising Rates</h2>
    </p>
  </a>
</div>
{% endblock %}

{% block content %}
<div>
  <table>
    <thead>
      <tr>
        <th>Geography</th>
        <th>Population</th>
        <th>FT Users</th>
        <th>Rates Spots 1-6</th>
        <th>Rate Spot 7</th>
      </tr>
    </thead>
    <tbody>
      {% for sponratesm in sponratesms_paginated %}
      <tr>
        <td>{{ sponratesm.Geography }}</td>
        <td>{{ sponratesm.Population }}</td>
        <td>{{ sponratesm.FTUserCount }}</td>
        <td>{{ sponratesm.Spots1_6Rate }}</td>
        <td>{{ sponratesm.Spot7Rate }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
      {% if sponratesms_paginated.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ sponratesms_paginated.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ sponratesms_paginated.number }} of {{ sponratesms_paginated.paginator.num_pages }}.
      </span>

      {% if sponratesms_paginated.has_next %}
      <a href="?page={{ sponratesms_paginated.next_page_number }}">next</a>
      <a href="?page={{ sponratesms_paginated.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}