{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}
<div class="h1">
  <a style="color:rgb(6, 6, 192)">
    <p style="font-size:40px">
      <h2>Finances</h2>
    </p>
  </a>
</div>
{% endblock %}

{% block content %}
<p style="text-align:center">
  <div class="h1">
    <a style="color:rgb(6, 6, 192)">
      <p style="font-size:40px">
        <div style="width: 100%; height: 400px;">
          </br>
          <img src="{% static 'FinSplashx.jpg' %}" style="height: 95%;" alt="Finances Splash Tile">
        </div>
      </p>
    </a>
  </div>
</p>
{% endblock %}
