<!-- ************************************************* -->
<!-- ********************* CONTENTS ****************** -->
<!-- ************************************************* -->
<!-- *                                               * -->
<!-- * Like all "base.html" templates for each       * -->
<!-- * application, this template is organized into  * -->
<!-- * 3 Sections:                                   * -->
<!-- *    1. Initialization,                         * -->
<!-- *    2. Menu Bar & Navigation, and              * -->
<!-- *    3. Advertising                             * -->
<!-- *                                               * -->
<!-- ************************************************* -->

<!-- ************************************************* -->
<!-- ***************** INITIALIZATION **************** -->
<!-- ************************************************* -->

<!doctype html>
<html lang="en">
{% load static %}
{% load bootstrap_icons %}

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<!-- ************************************************* -->
<!-- ************* MENU BAR & NAVIGATION ************* -->
<!-- ************************************************* -->

<body style="background-color:#DDEBF7;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0f496f;">
            <div class="container-fluid">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <a class="navbar-brand" href="#">TRAXX</a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" href="#Overview" data-bs-toggle="modal">Overview</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#">Events</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#">Venues</a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Download
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Download Text File</a></a></li>
                            <li><a class="dropdown-item" href="#">Download CSV File</a></li>
                            <li><a class="dropdown-item" href="#">Download PDF File</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Calendar Tutorials
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#Tut1" data-bs-toggle="modal">How to Create a Venue</a></li>
                            <li><a class="dropdown-item" href="#Tut2" data-bs-toggle="modal">How to Schedule an Event</a></li>
                            <li><a class="dropdown-item" href="#Tut3" data-bs-toggle="modal">How to Schedule a Repeating Event</a></li>
                            <li><a class="dropdown-item" href="#Tut4" data-bs-toggle="modal">How to Invite Attendees</a></li>
                            <li><a class="dropdown-item" href="#Tut5" data-bs-toggle="modal">How to Share My Calendar</a></li>
                            <li><a class="dropdown-item" href="#Tut6" data-bs-toggle="modal">How to Integrate with MS Outlook</a></li>
                            <li><a class="dropdown-item" href="#Tut7" data-bs-toggle="modal">How to Integrate with Google Calendar</a></li>
                            <li><a class="dropdown-item" href="#Tut8" data-bs-toggle="modal">How to Integrate with Apple Calendar</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Trivia & Hints
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#Trivia" data-bs-toggle="modal">Trivia of the Day</a></li>
                            <li><a class="dropdown-item" href="#Hint" data-bs-toggle="modal">Tip of the Day</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Support
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#Supp1" data-bs-toggle="modal">Support</a></li>
                            <li><a class="dropdown-item" href="#Sugg1" data-bs-toggle="modal">Suggestions</a></li>
                            <li><a class="dropdown-item" href="#Serv1" data-bs-toggle="modal">Service Requests</a></li>
                        </ul>
                    </li>                  

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sponsors
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#SponNote" data-bs-toggle="modal">A Note to Our Sponsors</a></li>
                            <li><a class="dropdown-item" href="#PotSponNote" data-bs-toggle="modal">A Note to Our Potential Sponsors</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#About1" data-bs-toggle="modal">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'LoginRegister:FTMainMenu' %}">Main Menu</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <!-- Modal Supp1 -->
    <div class="modal fade" id="Supp1" tabindex="-1" aria-labelledby="Supp1Label" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="exampleModalLabel">Support: 24-hours/day 365-days/year!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    TRAXX refuses to accept anything short of a delighted member. If we can help in any way, or
                    you run into issues, please feel free to contact us at "support@css-traxx.com" and we will respond
                    via email, or contact you at your
                    convenience. Our intent is to constantly improve and make TRAXX the premier Individual Resource &
                    Communication Management Solution available on the internet today.
                    <br><br>TRAXX will always be free for all our members and incredibly easy to use with rich feature
                    and functionality. Thank you for your continued support and for using TRAXX and spreading the word.
                    We appreciate all feedback!
                    <br><br>Kirk Shelton<br>Founder & CEO
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Sugg1 -->
    <div class="modal fade" id="Sugg1" tabindex="-1" aria-labelledby="Sugg1Label" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Sugg1Label">Thoughts? Help us Make Family Tracker Better</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    TRAXX welcomes thoughts and suggestions. Please Email us at "support@css-traxx.com". We will respond
                    to all suggestions, or answer any inquiries at your convenience.<br><br>Thank you for your continued
                    support and for using TRAXX.
                    <br><br>Kirk Shelton<br>Founder & CEO
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Serv1 -->
    <div class="modal fade" id="Serv1" tabindex="-1" aria-labelledby="Serv1Label" aria-hidden="true">
        <div class="modal-dialog ads modal-xl">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Serv1Label">Enter a Service Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <divr class="modal-body">
                    Service Request: Enter Short Description<br>
                    Error or Issue: Enter Details<br>
                    Navigation to Error or Issue:<br>
                    Started Occuring: mm/dd/yyyy<br>
                    Email "support@css-traxx.com"<br>
                    Response Requested: via Email / via Phone Call<br>
                    Response Phone Number:<br>
                    Response Email: <br><br>
                    Our intent is to constantly improve and make TRAXX the premier Individual Resource & Communication
                    Management Solution available on the internet today.
                    <br><br>TRAXX will always be free for all our members and incredibly easy to use with rich feature
                    and functionality. Thank you for your continued support and for using TRAXX and spreading the word.
                    We appreciate all feedback!
                    <br><br>Kirk Shelton<br>Founder & CEO
            </div>
        </div>
    </div>

    <!-- Modal SponNote -->
    <div class="modal fade" id="SponNote" tabindex="-1" aria-labelledby="SponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl" style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="SponNoteLabel">A Note to Our Sponsors</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Thank you for choosing the TRAXX platform to help achieve your sales and marketing objectives.
                    <br><br>
                    As a valued sponsor, we want to make certain you are delighted with your decision and are kept well informed with respect to reach and performance of your advertisements.  Each application on the main landing page, shows the current number of TRAXX member users, and the number of times, the application has been "clicked" on.
                    <br><br>
                    We also suggest you include a PROMO code, or similar device such as a discount for customers that heard about your product or service while using the TRAXX application.
                    <br><br>
                    We are always available to work with you directly to enhance your advertisement's effectiveness.  We are also available to build custom Business To Consumer, or Business to Business solutions for your company.  Please feel free to contact me personally at any time if I can be of assistance in any way, or provide additional details.
                    <br><br>
                    Thank you,
                    <br><br>
                    Kirk Shelton
                    <br>Founder & CEO
                    <br>(704) 607-4291                
                    </div>
            </div>
        </div>
    </div>
  
    <!-- Modal PotSponNote -->
    <div class="modal fade" id="PotSponNote" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl" style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="PotSponNoteLabel">A Note to Our Potential Sponsors</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Thank you for considering the TRAXX platform to help achieve your sales and marketing objectives.
                    <br><br>
                    The internet lacks a Free, complete solution for individuals and families that addresses common needs, including: Family Finances, a secure Social Media Solution, a unified Calendar and Meeting application, a List and simple Project Management system, and a comprehensive Fitness and Sports application.
                    <br><br>
                    TRAXX has been designed and developed to fill this gap and pulls it all together in one place with a simple, secure system which includes a simple intuitive User Interface that is accessible via a PC, or hand-held mobile device.
                    Henry Ford once said, “If I’d asked customers what they wanted, they would have tole me, ‘A faster horse!’.  The TRAXX mission is to read things that are not yet on the page and respond with an incredible offering.
                    <br><br>
                    There are 37 advertising spots in the TRAXX Application Suite – Images along left & right page margins.  
                    “Clicking” on a sponsor’s advertising image opens a formatted text box with plenty of room for Ad copy, contact information, promotion code, specials, hot-links, etc.  Sponsors may match advertising spots with target market interests depending on the page they are presented on. And, we offer an “Early Adopter” prior to member count.  Sponsors can easily see visits and “clicks” which will only increase as we reach critical mass.
                    And, we will never charge member users any type of subscription or usage fee and will never sell or share member data with any organization.
                    <br><br>
                    TRAXX is incredibly easy to do business with and responsive.  We solicit feedback on an on-going basis and will personally respond to inquiries and feedback.  Our Board of Advisors as well as Executive leadership has broad experience as entrepreneurs and in leadership and building a business.  We are a non-bureaucratic, agile organization able to react quickly to threats and opportunities.
                    We have low overhead costs allowing us to invest aggressively in TRAXX.  Decisions are made quickly without layers of management.
                    <br><br>
                    Please feel free to contact me directly (704) 607-4291, if I can answer any questions you may have or provide additional details.
                    <br><br>
                    Thank you, Kirk Shelton, Founder & CEO   
                    </div>
            </div>
        </div>
    </div>
  
<!-- Modal Trivia -->
<div class="modal fade" id="Trivia" tabindex="-1" aria-labelledby="TriviaLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="TriviaLabel">Trivia of the Day</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                This mythical creature is the national animal of Scotland
                <br><br>
                Answer: Unicorn
                <br><br><br>
                What is the most haunted state in the U.S. in terms of ghost sightings?
                <br><br>
                Answer: Texax
                <br><br><br>
                On an average day, how long does an employee spend looking for lost files or other items?
                <br><br>
                Answer: 12.6 miles
                <br><br>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Modal Hint -->
  <div class="modal fade" id="Hint" tabindex="-1" aria-labelledby="HintLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl"
        style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="TriviaLabel">Hint of the Day</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                To conduct effective meetings, you need to:<br><br>
                1. Define the meeting objectives and create an agenda.<br>
                2. Send calendar invites and establish the type of meeting.<br>
                3. Create a safe space for collaboration and strategically choose attendees.<br>
                4. Appoint important roles such as facilitator, timekeeper, and note-taker.<br>
                5. Start and end on time and stay on track with the agenda.<br><br>
            </div>
        </div>
    </div>
  </div>
  








    <!-- Modal About1 -->
    <div class="modal fade" id="About1" tabindex="-1" aria-labelledby="About1Label" aria-hidden="true">
        <div class="modal-dialog ads modal-xl"
            style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="About1Label">A Story of Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The TRAXX Resource & Communication Management System was created by Kirk Shelton
                    the founder and Managing Principal of "Cliffs Software Solutions" (CSS). Kirk has
                    extensive experience building and managing startup technology concerns and
                    the innovative use of technology to develop and deliver exceptional value to clients.
                    His experience includes business development, successfully delivering large, complex,
                    multi-disciplined projects, developing and delivering custom software solutions
                    and integrations, and building feature rich extensions to enhance existing platform
                    software solutions.<br>
                    M.B.A. Economics and Finance, Honors, Wayne State University, Detroit, MI<br>
                    B.S. Management Information Systems, Honors, Oakland University, Rochester Hills, MI
                    <br><br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    The CSS Board of Advisors Includes: Edward J. Sanz, Michael Onak, Rui Sousa, and Lisa Shelton.
                    <br><br>
                    Edward J. Sanz, CFA, CTP<br>
                    Managing Partner, ABTV<br>
                    Mr. Sanz is a senior finance and restructuring professional with over thirty years
                    of experience as a CFO, interim manager, and financial consultant to business owners,
                    boards of directors and senior management in the U.S. and abroad. He manages a
                    consulting firm that advises companies requiring transformation or solving complex
                    financial and operational problems.<br>He began his career in commercial lending and
                    public accounting and has since been in senior financial management roles and an
                    advisor to business owners, company management and boards of directors. Mr. Sanz
                    has authored articles for industry journals and chapters of the Turnaround Management
                    Association's Body of Knowledge and has spoken on a number of related topics. He
                    currently serves on the Board of the Carolinas Chapter of the Turnaround Management
                    Association (TMA) where he was also a past President. He also served on the
                    Board of Trustees of TMA Global, where he chaired the Certification Oversight
                    Committee which oversees the administration of the Certified Turnaround Professional
                    (CTP) designation.
                    Mr. Sanz graduated from the University of Virginia with a Bachelor of Science in
                    Commerce and received his Master's in Business Administration with honors from
                    Emory University. He holds Chartered Financial Analyst (CFA) and Certified Turnaround
                    Professional (CTP) designations.<br><br>
                    Michael Onak<br>
                    Senior Partner (retired)<br>
                    Ernst & Young LLP
                    Michael Onak ran the Banking Consulting practice in the Americas. He has been in
                    professional services for over 30 years focused primarily on the Financial Services
                    Industry. Michael has served E&Y's largest clients and built and grown large consulting
                    practices. He has held many Americas and global leadership positions at E&Y.<br>
                    Mr. Onak Graduated from Northern Illinois University with a Bachelor of Science Degree
                    <br><br>
                    Rui Sousa<br>
                    Lead Engineer & Software Development Manager, Cliffs Software Solutions, LLC
                    In addition to being an international advisor to Cliffs Software Solutions, Mr. Sousa
                    is a talented, experienced software developer with extensive Python, Django, and Java
                    Script experience. He has been integral to the early development of TRAXX with a
                    strong emphasis on best practices, object orientation and reusability.<br>
                    B.A. Computer Science, University of Cabo Verde, Praia Cabo Verde
                    <br><br>
                    Lisa Shelton<br>
                    Lisa is an experienced IT and Accounting professional having run multiple IT and
                    Accounting departments. She has been successful in multiple enterprise package selections
                    and implementations. Lisa brings the "Practical Magic" to TRAXX with a heavy emphasis
                    on the user interface, simplicity and useability.<br>
                    M.B.A. University of Detroit, Detroit, MI<br>
                    B.S. Accouting, Nothwood University, Midland, MI<br><br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    CSS CORE VALUES:
                    <br><br>
                    SERVICE & CUSTOMER ORIENTATION: Incredibly easy to do business with. Simple straight
                    forward pricing and service offerings. Being service-minded or customer-oriented means that
                    we care about providing a quality experience to the clients we serve. This value extends to
                    supporting our community and our associates. Valuing service means that we aim to provide a
                    meaningful experience to the people we serve and support.<br><br>
                    INTEGRITY: Valuing integrity in the workplace means that we strive to do the right thing,
                    even when we know no one else is looking. CSS highly values honesty, transparency and a
                    commitment to doing what is best for our clients, teammates, and company. The growth of a
                    company follows the professional growth of its employees. Valuing growth
                    means that we have the drive to continuously improve both ourselves and our company. Growth
                    is based on mutual success. CSS is a company that develops its staff and provides an
                    environment that fosters personal and professional development.<br><br>
                    ACCOUNTABILITY: Is a willingness to accept and embrace responsibility for one's actions
                    and the impact on the enterprise.<br><br>
                    INNOVATION: Challenging ourselves to see what is possible to better meet the needs of
                    fellow associates, clients and company. CSS will always be a work in progress, striving to
                    improve and do better, thinking of creative ways to solve tough problems and take calculated
                    risks. Finding new ways to solve a problem can help the company move forward.<br><br>
                    CREATIVITY AND TENACITY: The un-relenting use of our creative or original ideas, particularly
                    in the creation of high-value software solutions and professional services for our clients.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Tut1 -->
    <div class="modal fade" id="Tut1" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl"
            style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Tut1">How to Create a Venue</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    This will be Tutorial on How to Create a Venue
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Tut2 -->
    <div class="modal fade" id="Tut2" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl"
            style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Tut2">How to Schedule an Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    This will be Tutorial on How to Schedule an Event
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Tut3 -->
    <div class="modal fade" id="Tut3" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl"
            style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Tut3">How to Schedule a Repeating Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    This will be Tutorial on How to Schedule a Repeating Event
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Tut4 -->
    <div class="modal fade" id="Tut4" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl"
            style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Tut4">How to Invite Attendees</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    This will be Tutorial on How to Invite Attendees
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Tut5 -->
    <div class="modal fade" id="Tut5" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl"
            style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Tut5">How to Share My Calendar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    This will be Tutorial on How to Share My Calendar
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Tut6 -->
    <div class="modal fade" id="Tut6" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl"
            style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Tut6">How to Integrate with MS Outlook</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    This will be Tutorial on How to Integrate with MS Outlook
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Tut7 -->
    <div class="modal fade" id="Tut7" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl"
            style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Tut7">How to Integrate with Google Calendar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    This will be Tutorial on How to Integrate with Google Calendar
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Tut8 -->
    <div class="modal fade" id="Tut8" tabindex="-1" aria-labelledby="PotSponNoteLabel" aria-hidden="true">
        <div class="modal-dialog ads modal-xl"
            style="overflow-y: scroll; max-height:95%; margin-top: 5px; margin-bottom: 5px;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <h5 class="modal-title" id="Tut8">How to Integrate with Apple Calendar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    This will be Tutorial on How to Integrate with Apple Calendar
                </div>
            </div>
        </div>
    </div>

   <!-- Modal Calendar -->
   <div class="modal fade" id="Overview" tabindex="-1" aria-labelledby="OverviewLabel" aria-hidden="true">
    <div class="modal-dialog ads modal-xl">
        <div class="modal-content">
            <div class="modal-header primary">
                <h5 class="modal-title" id="AdministrationLabel">The Calendar Application</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                The Calendar application is integrated with Microsoft Outlook, Google Calendar, 
                and Apple Calendar.  Integration can be configured to be bi-directional, or inbound
                only.  In this manner, the TRAXX Calendar may be one's central calendaring system with 
                both personal and professional events all in one place without the need to publish
                personal events, meetings, and plans.<br><br>
                TRAXX Calendar includes all standard calendar functionality and allows one to 
                schedule events and meetings, define venues, and identify event participants.
        </div>
        </div>
    </div>
</div>

<!-- ************************************************* -->
<!-- ****************** ADVERTISING ****************** -->
<!-- ************************************************* -->




    </nav>

    <main class="container-fluid mt-4">
        <div class="row" style="margin: 0 5px;">
            <!-- Left Margin Advertising -->
            <div class="col-md-2" style="text-align: left;">

                <!-- Spot 1 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#exampleModal" data-bs-toggle="modal">
                        <img src="{% static 'Cal1.jpg' %}" style="height: 95%;" alt="AdvSpot1">
                    </a>
                </div>

                <!-- Spot 2 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad2Modal" data-bs-toggle="modal">
                        <img src="{% static 'Cal2.jpg' %}" style="height: 95%;" alt="Advpot2">
                    </a>
                </div>

                <!-- Spot 3 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad3Modal" data-bs-toggle="modal">
                        <img src="{% static 'Cal3.jpg' %}" style="height: 95%;" alt="Advpot2">
                    </a>
                </div>

                <!-- Spot 4 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad3Modal" data-bs-toggle="modal">
                        <img src="{% static 'Cal4.jpg' %}" style="height: 95%;" alt="Advpot2">
                    </a>
                </div>

            </div>
            <!-- Center Open Area -->
            <!-- <div class="col-md-8" style="text-align: center;"> -->
            <div class="col-md-8" style="text-align: center;">
                {% block content %}
                {% endblock %}
                <div style="width: 100%; height: 400px;">
                    <img src="{% static 'CalendarSplash.jpg' %}" style="height: 95%;" alt="Generic Gym">
                </div>
            </div>

            <!-- Right Margin Advertising -->
            <div class="col-md-2" style="text-align: right;">

                <!-- Spot 4 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad4Modal" data-bs-toggle="modal">
                        <img src="{% static 'Cal5.jpg' %}" style="height: 95%;" alt="Advpot2">
                    </a>
                </div>

                <!-- Spot 5 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad5Modal" data-bs-toggle="modal">
                        <img src="{% static 'Cal6.jpg' %}" style="height: 95%;" alt="Advpot2">
                    </a>
                </div>

                <!-- Spot 6 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad6Modal" data-bs-toggle="modal">
                        <img src="{% static 'Cal7.jpg' %}" style="height: 95%;" alt="Advpot2">
                    </a>
                </div>

                <!-- Spot 7 -->
                <div style="width: 100%; height: 170px; background-color: #DDEBF7;">
                    <a href="#ad6Modal" data-bs-toggle="modal">
                        <img src="{% static 'Cal8.jpg' %}" style="height: 95%;" alt="Advpot2">
                    </a>
                </div>


            </div>
        </div>
    </main>

    <!-- <footer class="mt-8 text-center"> -->
    <!-- Spot 7 -->
    <!-- <div style="width: 100%; height: 170px; background-color: #DDEBF7;"> -->
    <!-- <a href="#ad7Modal" data-bs-toggle="modal"> -->
    <!-- <img class="sponsor" src="{% static 'AdvSpot5B.jpg'%}" style="width: 1450px" alt="Sponsor"> -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- </footer> -->

    <!-- Modal Supp1 -->
    <div class="modal fade" id="Supp1" tabindex="-1" aria-labelledby="Supp1Label" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Supp1Label">Support: 24-hours/day 365-days/year!!!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Family Tracker refuses to accept anything short of a delighted user. If we can help
                    in any way, or
                    you run into issues, please feel free to call: (800) 333-4444.<br><br>For less
                    urgent requests or
                    issues, please log a "Service Request" and we will respond via email, or contact you
                    at your
                    convenience.<br><br>Our intent is to constantly improve, make Family Tracker the
                    most family
                    friendly, easy to use, and useful internet application on the market
                    today.<br><br>Thank you for
                    your continued support and using Family Tracker.<br><br>We appreciate all
                    feedback!<br><br>Thank
                    you,<br><br>Kirk Shelton<br>Founder & CEO
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Sugg1 -->
    <div class="modal fade" id="Sugg1" tabindex="-1" aria-labelledby="Sugg1Label" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Sugg1Label">Thoughts? Help us Make Family Tracker Better
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Family Tracker welcomes thoughts and suggestions.<br><br>Please feel free to call:
                    (800)
                    333-4444.<br> Or, Email us: "https://www.FamilyTrackerSuggestions.com"<br><br>We
                    will answer all
                    calls or contact you at your convenience.<br><br>Thank you for your continued
                    support and using
                    Family Tracker.<br><br>We appreciate all feedback!
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Serv1 -->
    <div class="modal fade" id="Serv1" tabindex="-1" aria-labelledby="Serv1Label" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Serv1Label">Send Us a Service Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    <br>If you run into any issues, or just have a Navigation or Feature question,
                    please feel free to
                    call:<br>(800) 111-2222<br><br>Alternatively, Email us:
                    "https://www.FamilyTrackerServiceRequest.com"<br><br>Please includ the following in
                    your Email:<br>
                    1. Preference to be called or Email Response<br> 2. Issue or question short
                    description<br> 3. Issue
                    or question full description, including navigation<br> 4. How long you have been
                    experiencing the
                    issue<br> 5. Best time to call if that is your preference<br><br>We will answer all
                    calls or contact
                    you at your convenience.<br><br>Thank you for your continued support and using
                    Family Tracker.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal About1 -->
    <div class="modal fade" id="About1" tabindex="-1" aria-labelledby="About1Label" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="About1Label">A Story of Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    <br>Family Tracker was founded by Kirk Shelton the founder and Managing Principal of
                    "Cliffs
                    Software Solutions". Kirk is the Chief Technical Officer (CTO) and the lead engineer
                    for the Family
                    Tracker application.<br><br>Cliffs Software Solutions is now a subsidiary of "Round
                    Table Venture
                    Group LLC" (RTVG).<br><br>RTVG is a private investment group and family office owned
                    and managed by
                    their Principals. They invest in direct to consumer growth-oriented companies
                    including e-commerce,
                    health and fitness, technology, healthcare and other core businesses. The focus is
                    on providing
                    capital and operational expertise to dynamic and disruptive growth
                    companies.<br><br>Principals each
                    bring a unique skill set and RTVG collectively works as a team with their portfolio
                    companies to
                    achieve success. Principals have operated businesses as CEOs, COOs and other
                    leadership positions.
                    They tend to invest in companies that see the value of their active
                    involvement.<br><br>It was a
                    natural fit between Cliffs Software Solution and the Round Table Venture Group with
                    a "Shared
                    Philosophy"<br>&nbsp&nbsp&nbsp&nbsp* We believe in passionate people that are
                    curious and like to
                    win… because we like to win.<br>&nbsp&nbsp&nbsp&nbsp* We believe in open dialogue
                    and honest
                    debate.<br>&nbsp&nbsp&nbsp&nbsp* We believe in building true partnerships and
                    working closely with
                    our portfolio companies.<br>&nbsp&nbsp&nbsp&nbsp* We believe in
                    execution.<br>&nbsp&nbsp&nbsp&nbsp*
                    We believe in learning from others and applying what we’ve learned.<br><br>We also
                    offer custom
                    development services to bring our clients solutions visions quickly into focus and
                    ready for
                    use.<br><br>For more information regarding custom solution development: Please send
                    an Email to
                    "https://FamilyTrackerDevInq.com" or call us: (800) 111-2222<br><br>We will promptly
                    respond to all
                    inquiries. Thank you for using "Family Tracker" !!!
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot1 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">On-Line Luxury Cars for Less</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Typically Products and/or Services, Specials, promo-Code "FT01", URL for web site or
                    more
                    information, etc... <br><br> Question for Rui, how do we size, should be a little
                    wider.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot2 -->
    <div class="modal fade" id="ad2Modal" tabindex="-1" aria-labelledby="ad2ModalLabel" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ad2ModalLabel">Frank Lloyd Wright Inspired Bathrooms
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Inspired by one of the greatest architects of all time Frank Lloyd Wright. Sleak,
                    modern lines and
                    unparalleled Quality.<br><br>We provide design and build services, and a lifetime
                    warranty.<br><br>For more information: "https://www.flrdesigns.com"<br>Promo Code:
                    "FT001"<br><br>Or
                    call us directly: (213) 999-8888
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot3 -->
    <div class="modal fade" id="ad3Modal" tabindex="-1" aria-labelledby="ad2ModalLabel" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ad3ModalLabel">Watch the US Open!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The Worlds Greatest Golfers on one of the foremost tests in Golf... Pebble
                    Beach.<br><br>Coverage is
                    from June 15th to June 18th on ESPN with a $20M purse at stake.<br><br>With the
                    Leaderboard in
                    constant flux, the US Open is must see TV
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot4 -->
    <div class="modal fade" id="ad4Modal" tabindex="-1" aria-labelledby="ad2ModalLabel" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ad3ModalLabel">Let Your Voice Be Heard!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Voting is one of the greatest privileges and responsibilities of being a US
                    citizen.<br><br>Irrespective of you political party or affiliation, it's critically
                    important that
                    your voice be heard.<br><br>For your location options: "www.mypollingoptions.com"
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot5 -->
    <div class="modal fade" id="ad5Modal" tabindex="-1" aria-labelledby="ad5ModalLabel" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ad5ModalLabel">The Best Mattress Money can Buy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    You spend a third of your life on your mattress. It should be a comfortable and
                    healthful
                    experience.<br>Our hand-crafted matress' are unique in their quality, support, and
                    luxury.<br>Video
                    of our Manufacturing process: "https://www.youtube.com/themattressfacory"<br>Call us
                    today for a
                    quick quote or to place an order (999) 888-7777. Promo Code "FT001"
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot6 -->
    <div class="modal fade" id="ad6Modal" tabindex="-1" aria-labelledby="ad6ModalLabel" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ad6ModalLabel">Watch Monday Night Football</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    Extend your weekend, pop some corn, or order some hot wings, grab a cold beverage
                    and Watch Monday
                    Night Football.<br><br>Great moments happen on Monday Night Football, the stars of
                    the game, the
                    great plays, and all the excitement!!!
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AdvSpot7 -->
    <div class="modal fade" id="ad7Modal" tabindex="-1" aria-labelledby="ad7ModalLabel" aria-hidden="true">
        <div class="modal-dialog ads">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ad7ModalLabel">Paradise Island in the Bahamas!!!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <div class="modal-body">
                    The name Paradise Island could not be more fitting. Awaiting you here are idyllic
                    beaches, exciting
                    nightlife and popular attractions like Atlantis, the largest resort in the
                    Caribbean, with a casino,
                    water park and aquarium.<br><br>To let you experience an all-inclusive Paradise
                    Island holiday, RIU
                    Hotels & Resorts offers you the Hotel Riu Palace Paradise Island, located on the
                    beachfront of the
                    heavenly Cabbage Beach. There you can relax under the warm Caribbean sun, enjoy a
                    pleasant stroll on
                    the shore, or practise different aquatic sports like water skiing, jet ski,
                    windsurfing and kite
                    surfing.<br><br>On Paradise Island you'll enjoy a cuisine rich in fish and seafood
                    typical of the
                    region, like conch (a type of mollusk), tuna, red lobster and shrimp. You can also
                    savour delicious
                    fish and vegetable soups, bean soups and a variety of tropical fruits native to the
                    country, like
                    soursops, sapodilla and
                    jujubes.<br><br>"https://RUIBahamasReservations"<br>"https://RUIBahamasGallery"<br>For
                    more
                    information: (111) 222-3333"
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->

</body>

</html>